@import "@/styles/imports";

.section {
	width: 100%;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		.text {
			h3,
			span {
				font-size: 3rem;
				line-height: 3.3rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
			}
			span {
				color: #fff;
			}
		}
		.grid {
			margin-block: 3.6rem;
			margin-inline: -2rem;
			@include grid(repeat(3, 1fr), 3.6rem, 3.6rem);
			.card {
				border-radius: 1.5rem;
				border: 0.1rem solid rgba(255, 255, 255, 0.1);
				padding: 2rem;
				position: relative;
				h4 {
					font-size: 2.6rem;
					line-height: 3.3rem;
					font-weight: 700;
					font-family: $font-gothic-bold;
					color: #FFF;
					margin-bottom: 1rem;
				}
				span {
					display: block;
					width: 5rem;
					height: 0.4rem;
					background: #00FF8C;
					margin: -0.5rem 0 1rem;
				}
			}
		}
	}
	.divider {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}

	@include screenMax("tablet") {
		.section_container {
			padding: 2rem;
			.grid {
				grid-template-columns: repeat(6, 1fr);
				overflow-x: scroll;
				margin-inline: 0;
				margin-left: -1.6rem;
				margin-block: 2.4rem;
				@include noScrollBar();
				gap: 1rem;
				.card {
					padding: 1.6rem;
					width: 20rem;
					h4 {
						font-size: 2rem;
						line-height: 2.6rem;
					}
					span {
						height: 0.2rem;
					}
					p {
						font-size: 1.2rem;
						line-height: 1.6rem;
					}
				}
			}
		}
	}

	@include screenMax('mobile') {
		.section_container {
			.grid {
				margin-block: 1.6rem;
				margin-left: 0;
			}
			.text {
				h3, span {
					font-size: 1.8rem;
					line-height: 2.4rem;
				}
			}
		}
	}
}
