@import "@/styles/imports";

.section {
	width: 100%;
	margin-bottom: 8rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		overflow: hidden;
		.text {
			h3,
			span {
				font-size: 2.4rem;
				line-height: 3.2rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
			}
			span {
				color: #fff;
			}
		}
		.grid, .grid_mob {
			margin-block: 3.6rem;
			margin-inline: -2rem;
			@include grid(repeat(3, 1fr), 3.6rem, 2.4rem);
			.card {
				border-radius: 1.6rem;
				border: 0.2rem solid rgba(255, 255, 255, 0.2);
				padding: 2rem;
				position: relative;
				.card_header {
					display: flex;
					align-items: center;
					h4, h6 {
						font-size: 5.6rem;
						line-height: 6.4rem;
						font-weight: 700;
						font-family: $font-gothic-bold;
						color: #FFF;
						margin-bottom: 1rem;
					}
				}
				p {
					font-size: 1.2rem;
					line-height: 1.6rem;
					color: #FFF;
				}
				span {
					display: block;
					width: 5.5rem;
					height: 0.4rem;
					background: #00FF8C;
					margin: -0.5rem 0 1rem;
				}
			}
		}
		.grid_mob {
			display: none;
		}
	}
	.divider {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
		margin-top: 8rem;
	}

	@include screenMax("tablet") {
		margin-bottom: 6rem;
		.section_container {
			padding: 2rem;
			overflow: hidden;
			.grid, .grid_mob {
				grid-template-columns: repeat(3, 1fr);
				// overflow-x: scroll;
				margin-inline: 0;
				margin-left: -1.6rem;
				margin-block: 2.4rem;
				@include noScrollBar();
				gap: 1rem;
				.card {
					padding: 1.6rem;
					.card_header {
						h4, h6 {
							font-size: 4.8rem;
							line-height: 5.6rem;
						}
					}
					span {
						height: 0.2rem;
					}
					p {
						font-size: 1.2rem;
						line-height: 1.6rem;
					}
				}
			}
		}
		.divider {
			margin-top: 6rem;
		}
	}

	@include screenMax('mobile') {
		margin-bottom: 4rem;
		.section_container {
			.grid {
				display: none;
				margin-block: 1.6rem;
				margin-left: 0;
				.card {
					.card_header {
						h4, h6 {
							font-size: 1.6rem;
						}
					}
				}
			}
			.grid_mob {
				margin-block: 3.2rem;
				@include grid(repeat(2, 1fr), 0.8rem, 1.6rem);
				overflow: hidden;
				.card {
					.card_header {
						h4, h6 {
							font-size: 3.6rem;
							line-height: 4.4rem;
						}
					}
				}
			}
			.text {
				h3, span {
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
			}
		}
		.divider {
			margin-top: 4rem;
		}
	}
}
