@import "@/styles/imports";

.about_section {
    padding-inline: 4rem!important;
    width: 100%;
    .about_container {
        padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		overflow: hidden;
        .about_label {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0;
            margin-bottom: 2.4rem;
            .label_line {
                width: 3rem;
                height: 0.1rem;
                background: #1BB24B;
            }
            p {
                font-size: 1.6rem;
                font-weight: 700;
                font-family: $font-gothic-bold;
                text-transform: uppercase;
                letter-spacing: 0.22rem;
                color: #1BB24B;
            }
        }
        .about_text {
            h1 {
                font-size: 4.4rem;
                line-height: 6rem;
                font-family: $font-gothic-bold;
                font-weight: 700;
                color: #FFF;
            }
            h6 {
                margin-top: 1.6rem;
                font-size: 1.4rem;
                font-family: $font;
                color: #FFF;
                max-width: 60rem;
                strong {
                    font-weight: 700;
                }
            }
        }
        .about_theme {
            display: grid;
            grid-template-columns: 1fr;
            gap: 4rem;
            margin-top: 6.4rem;
            align-items: start;
            .about_theme_text {
                h4 {
                    color: #1BB24B;
                    font-family: $font-gothic-bold;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    text-transform: uppercase;
                    margin-bottom: 1.6rem;
                    letter-spacing: 0.22rem;
                }
                h1 {
                    font-size: 4.4rem;
                    line-height: 6rem;
                    font-family: $font-gothic-bold;
                    font-weight: 700;
                    color: #FFF;
                    margin-bottom: 3.6rem;
                    width: 70%;
                }
                h5 {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    color: #FFF;
                    font-family: $font;
                }
            }
            .pillars {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                p {
                    color: #FFF;
                    font-size: 1.6rem;
                    font-style: italic;
                    font-family: $font;
                    margin-bottom: 2rem;
                }
                .pillar {
                    border: 0.1rem solid #FFFFFF12;
                    border-left: 0.3rem solid #1BB24B;
                    background: #1F1F1F;
                    padding: 4rem 2.4rem;
                    transition: all 300ms ease-in-out;
                    h6 {
                        color: #FFF;
                        font-size: 1.6rem;
                        font-family: $font;
                        line-height: 1.7;
                        width: 60%;
                    }
                    &:hover {
                        border-left-color: #008751;
                    }
                }
            }
            .stats {
                padding: 4rem;
                border: 0.1rem solid #FFFFFF12;
                border-radius: 0.2rem;
                display: none;
                h2 {
                    font-family: $font;
                    font-weight: 600;
                    margin-bottom: 2rem;
                    padding-bottom: 2rem;
                    color: #3DB54A;
                    border-bottom: 0.1rem solid #FFFFFF12;
                    font-size: 2.4rem;
                    text-transform: capitalize;
                }
                .stat_row {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 3.2rem;
                    margin-top: 0.8rem;
                    .stat {
                        display: flex;
                        flex-direction: column;
                        gap: 1.2rem;
                        h3 {
                            font-family: $font;
                            font-weight: 700;
                            color: #1BB24B;
                            font-size: 4.4rem;
                            line-height: 5.6rem;
                        }
                        p {
                            font-size: 1.4rem;
                            line-height: 2rem;
                            font-family: $font;
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }

    @include screenMax("tablet") {
        padding-block: 7.2rem!important;
        padding-inline: 2.4rem!important;
        .about_container {
            padding: 2.4rem;
            .about_label {
                margin-bottom: 2rem;
                p {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
            .about_text {
                h1 {
                    font-size: 3.6rem;
                    line-height: 5.2rem;
                    max-width: 85%;
                }
                h6 {
                    max-width: 80%;
                }
            }
            .about_theme {
                gap: 4rem;
                margin-top: 4rem;
                .about_theme_text {
                    h4 {
                        font-size: 2rem;
                        line-height: 2.8rem;
                        margin-bottom: 1.2rem;
                    }
                    h1 {
                        font-size: 3.6rem;
                        line-height: 5.2rem;
                        width: 85%;
                    }
                    h5 {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }
                .stats {
                    padding: 3.2rem;
                    h2 {
                        font-size: 1.8rem;
                    }
                    .stat_row {
                        gap: 3.6rem;
                        .stat {
                            h3 {
                                font-size: 3.2rem;
                            }
                        }
                    }
                }
                .pillars {
                    gap: 1.8rem;
                    p {
                        margin-bottom: 0;
                    }
                    .pillar {
                        padding: 1.6rem 2rem;
                        h6 {
                            width: 85%;
                        }
                    }
                }
            }
        }
    }
    @include screenMax("mobile") {
        padding-inline: 0!important;
        padding-top: 5.6rem!important;
        padding-bottom: 1.6rem!important;
        .about_container {
            padding: 1.6rem;
            .about_label {
                margin-bottom: 1.6rem;
                p {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
            .about_text {
                h1 {
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                    max-width: 95%;
                }
                h6 {
                    max-width: 95%;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
            .about_theme {
                .about_theme_text {
                    h4 {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        margin-bottom: 0.8rem;
                    }
                    h1 {
                        font-size: 2.4rem;
                        line-height: 3.6rem;
                        width: 95%;
                    }
                    h5 {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }
                }
                grid-template-columns: 1fr;
                gap: 2.4rem;
                margin-top: 3.2rem;
                .stats {
                    padding: 0 0 2.4rem;
                    h2 {
                        font-size: 1.6rem;
                    }
                    .stat_row {
                        gap: 0.8rem;
                        grid-template-columns: 1fr 1fr;
                        .stat {
                            h3 {
                                font-size: 3.2rem;
                                line-height: 4.4rem;
                            }
                            p {
                                font-size: 1.2rem;
                                line-height: 1.6rem;
                            }
                        }
                    }
                }
                .pillars {
                    gap: 1.6rem;
                    grid-template-columns: 1fr;
                    p {
                        margin-bottom: 0;
                    }
                    .pillar {
                        padding: 1.6rem;
                        h6 {
                            width: 100%;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}


