@import "@/styles/imports";

.mission_section {
    width: 100%;
	margin-bottom: 8rem;
    .container {
        max-width: $max-width;
        margin: 0 auto;
		padding: 3.6rem;
        .card {
			background-color: rgba($col-white, 0.05);
			border-radius: 1.5rem;
			overflow: hidden;
			@include grid(repeat(2, 50%), 0);
			width: 100%;
			position: relative;
			.details {
				padding: 3.2rem;
				@include flex();
                background-color: rgba($col-white, 0.05);
				flex-direction: column;
				justify-content: space-between;
                // .row {
                //     @include flex(flex-start);
                //     gap: 1.2rem;
                //     .line {
                //         width: 4rem;
                //         height: 0.3rem;
                //         &:nth-child(1) {
                //             background-color: #bef2be;
                //         }
                //         &:nth-child(2) {
                //             background-color: #76df93;
                //         }
                //         &:nth-child(3) {
                //             background-color: #00be4d;
                //         }
                //         &:nth-child(4) {
                //             background-color: #76df93;
                //         }
                //         &:nth-child(5) {
                //             background-color: #ffffff;
                //         }
                //         &:nth-child(6) {
                //             background-color: #00be4d;
                //         }
                //         &:nth-child(7) {
                //             background-color: #bef2be;
                //         }
                //         &:nth-child(8) {
                //             background-color: #76df93;
                //         }
                //         &:nth-child(9) {
                //             background-color: #00be4d;
                //         }
                //         &:nth-child(10) {
                //             background-color: #76df93;
                //         }
                //         &:nth-child(11) {
                //             background-color: #ffffff;
                //         }
                //         &:nth-child(12) {
                //             background-color: #00be4d;
                //         }
                //     }
		        // }
                .text {
                    h3, span {
                        font-size: 2.4rem;
                        line-height: 3.2rem;
                        font-weight: 700;
                        font-family: $font-gothic-bold;
                    }
                    span {
                        color: #fff;
                    }
                }
                .cta_and_subtext {
                    width: 99%;
                    h6 {
                        margin-bottom: 2rem;
                        color: #FFF;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                    }
                    .button {
                        height: 5rem;
                        min-width: 13rem;
                        & > p {
                            font-size: 1.4rem!important;
                            margin-bottom: 0!important;
                        }
                    }
                }
			}
			.image {
				position: relative;
				width: 100%;
				height: 57.5rem;
                & > img {
                    object-fit: cover;
                }
			}
		}
    }
    .divider {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
		margin-top: 8rem;
	}

    @include screenMax("tablet") {
		margin-bottom: 6rem;
        .container {
            padding: 2rem;
            .card {
                .details {
                    padding: 2rem;
                    .text {
                        h3, span {
                            font-size: 2.2rem;
                            line-height: 2.8rem;
                        }
                        p {
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                        }
                    }
                }
                .image {
                    height: 43rem;
                }
            }
        }
        .divider {
			margin-top: 6rem;
		}
    }

    @include screenMax('mobile') {
		margin-bottom: 4rem;
        .container {
            .card {
                @include grid(repeat(1, 100%), 0);
                row-gap: 0;
                .details {
                    .text {
                        h3, span {
                            font-size: 2.4rem;
                            line-height: 3.2rem;
                        }
                    }
                    .cta_and_subtext {
                        h6 {
                            margin-bottom: 1rem;
                            font-size: 1.4rem;
                            line-height: 2rem;
                        }
                        .button {
                            height: 4rem;
                        }
                    }
                    .row {
                        display: none;
                    }
                }
                .image {
                    height: 30rem;
                }
            }
        }
        .divider {
			margin-top: 4rem;
		}
    }
}