@import "@/styles/imports";

.hero_section {
	width: 100%;
    min-height: 90vh;
    padding-top: 16rem!important;
    padding-inline: 4rem!important;
    .hero_container {
        padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		overflow: hidden;
        .hero_content {
            position: relative;
            max-width: 85%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10rem;
            margin: 0 auto;
            .logo_and_btn {
                width: 100%;
                .logo_big {
                    width: 100%;
                    position: relative;
                    height: 32rem;
                    margin-bottom: 4.8rem;
                    & > img {
                        object-fit: cover;
                    }
                }
                h3 {
                    font-size: 2rem;
                    line-height: 2.8rem;
                    width: 75%;
                    font-weight: 500;
                    font-family: $font;
                    color: #FFF;
                }
                .btn {
                    min-width: 30rem;
                    margin-top: 2.4rem;
                    height: 6.4rem;
                    & > p {
                        font-size: 1.6rem;
                        font-weight: 600!important;
                    }
                }
            }
            .details_and_partners {
                width: 100%;
                .details {
                    margin-bottom: 10rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2.4rem;
                    .detail {
                        p {
                            color: #1BB24B;
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                            font-family: $font-gothic-bold;
                            font-weight: 700;
                        }
                        h4 {
                            font-family: $font-gothic-bold;
                            font-weight: 700;
                            font-size: 2rem;
                            line-height: 2.8rem;
                            margin-bottom: 1.6rem;
                            color: #FFF;
                        }
                        .line {
                            height: 0.1rem;
                            width: 6.6rem;
                            background: #1BB24B;
                        }
                    }
                }
                .partners {
                    p {
                        color: #FFF;
                        text-transform: uppercase;
                    }
                    .logos {
                        display: flex;
                        align-items: center;
                        gap: 2.4rem;
                        margin-top: 2.4rem;
                        .partner {
                            display: flex;
                            align-items: center;
                            .logo {
                                position: relative;
                                width: 4.8rem;
                                height: 4.8rem;
                                margin-right: 0.8rem;
                                flex-shrink: 0;
                                &[data-index = "2"] {
                                    & > img {
                                        border-radius: 50%;
                                    }
                                }
                            }
                            h5 {
                                font-size: 1.2rem;
                                color: #D2D3D3;
                                font-family: $font;
                            }
                        }
                    }
                }
            }
        }
    }

    @include screenMax("tablet") {
        padding-top: 8rem!important;
        padding-inline: 4rem!important;
        .hero_container {
            padding: 2.4rem;
            .hero_content {
                max-width: 95%;

            }
        }
    }
    @include screenMax("mobile") {
        padding-bottom: 6rem!important;
        padding-inline: 0!important;
        .hero_container {
            padding: 1.6rem;
            .hero_content {
                max-width: 100%;
                .hero_badge {
                    margin-bottom: 2.4rem;
                    h3 {
                        font-size: 1rem;
                    }
                }
                .hero_subtext {
                    width: 98%;
                    margin-bottom: 1.6rem;
                    p {
                        font-size: 1.2rem;
                        line-height: 2rem;
                    }
                }
                .hero_title {
                    margin: 0 auto 1.6rem;
                    width: 90%;
                    h1 {
                        font-size: 4rem;
                        line-height: 5.2rem;
                        span {
                            font-size: 4rem;
                            line-height: 5.2rem;
                        }
                    }
                }
                .details_and_location {
                    flex-direction: column;
                    .panels, .venue {
                        border-top: 0.1rem solid rgba(255,255,255,0.7);
                        border-left: 0;
                    }
                    .panels, .venue, .date {
                        padding: 2.5rem 4rem;
                    }
                }
                .buttons {
                    max-width: 95%;
                    flex-direction: column;
                }
                .collaborations {
                    .collabs {
                        flex-direction: column;
                        gap: 1.6rem;
                        .collab {
                            margin-inline: auto;
                        }
                    }
                }
                .scroll {
                    left: 37%;
                    bottom: -10rem;
                    .scroll_line {
                        height: 4rem;
                    }
                }
            }
        }
    }
}


@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes scrollDrop {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    50% {
        transform: scaleY(1);
        transform-origin: top;
    }
    50.01% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}