@import "@/styles/imports";

.hero_section {
	width: 100%;
    min-height: 90vh;
    padding-top: 16rem!important;
    padding-inline: 4rem!important;
    .hero_container {
        padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		overflow: hidden;
        .hero_content {
            position: relative;
            max-width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10rem;
            margin: 0 auto;
            .logo_and_btn {
                width: 100%;
                .logo_big {
                    width: 100%;
                    position: relative;
                    height: 32rem;
                    margin-bottom: 4.8rem;
                    & > img {
                        object-fit: contain;
                    }
                }
                h3 {
                    font-size: 2rem;
                    line-height: 2.8rem;
                    width: 75%;
                    font-weight: 500;
                    font-family: $font;
                    color: #FFF;
                }
                .btn {
                    min-width: fit-content;
                    padding: 1.6rem;
                    margin-top: 2.4rem;
                    height: 5.6rem;
                    & > p {
                        font-size: 1.6rem;
                        font-weight: 600!important;
                    }
                }
            }
            .details_and_partners {
                width: 100%;
                .details {
                    margin-bottom: 10rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2.4rem;
                    .detail {
                        p {
                            color: #1BB24B;
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                            font-family: $font-gothic-bold;
                            font-weight: 700;
                        }
                        h4 {
                            font-family: $font-gothic-bold;
                            font-weight: 700;
                            font-size: 2rem;
                            line-height: 2.8rem;
                            margin-bottom: 1.6rem;
                            color: #FFF;
                        }
                        .line {
                            height: 0.1rem;
                            width: 6.6rem;
                            background: #1BB24B;
                        }
                    }
                }
                .partners {
                    p {
                        color: #FFF;
                        text-transform: uppercase;
                        font-size: 1.8rem;
                        line-height: 2.7rem;
                    }
                    .logos {
                        display: flex;
                        align-items: center;
                        gap: 1.4rem;
                        margin-top: 2.4rem;
                        .partner {
                            display: flex;
                            align-items: center;
                            .logo {
                                position: relative;
                                width: 4.8rem;
                                height: 4.8rem;
                                margin-right: 0.8rem;
                                flex-shrink: 0;
                                &[data-index = "2"] {
                                    & > img {
                                        border-radius: 50%;
                                    }
                                }
                            }
                            h5 {
                                font-size: 1.2rem;
                                line-height: 1.6rem;
                                color: #D2D3D3;
                                font-family: $font;
                            }
                        }
                    }
                }
            }
        }
    }

    @include screenMax("tablet") {
        padding-top: 8rem!important;
        padding-inline: 4rem!important;
        .hero_container {
            padding: 2.4rem;
            .hero_content {
                max-width: 100%;
                grid-template-columns: 1fr;
                gap: 6.4rem;
                .logo_and_btn {
                    .logo_big {
                        height: 43rem;
                        margin-bottom: 3.2rem;
                        & > img {
                            object-fit: cover;
                        }
                    }
                    h3 {
                        font-size: 1.8rem;
                        line-height: 2.7rem;
                        width: 85%;
                    }
                    .btn {
                        margin-top: 1.6rem;
                        height: 5.2rem;
                        & > p {
                            font-size: 1.4rem!important;
                        }
                    }
                }
                .details_and_partners {
                    .details {
                        margin-bottom: 5.6rem;
                        gap: 2.4rem;
                        flex-direction: row;
                    }
                    .partners {
                        p {
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                        }
                        .logos {
                            margin-top: 1.6rem;
                            gap: 1.2rem;
                            .partner {
                                .logo {
                                    width: 3.6rem;
                                    height: 3.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include screenMax("mobile") {
        padding-bottom: 6rem!important;
        padding-inline: 0!important;
        .hero_container {
            padding: 1.6rem;
            .hero_content {
                max-width: 100%;
                gap: 3.2rem;
                .logo_and_btn {
                    .logo_big {
                        height: 20rem;
                        margin-bottom: 2.4rem;
                        & > img {
                            object-fit: contain;
                        }
                    }
                    h3 {
                        font-size: 1.4rem;
                        line-height: 2rem;
                        width: 95%;
                    }
                    .btn {
                        margin-top: 1.2rem;
                        padding: 0.8rem 1.2rem;
                        height: 4.4rem;
                    }
                }
                .details_and_partners {
                    .details {
                        margin-bottom: 3.2rem;
                        .detail {
                            h4 {
                                font-size: 1.6rem;
                                line-height: 2.4rem;
                                margin-bottom: 0.8rem;
                            }
                        }
                    }
                    .partners {
                        p {
                            font-size: 1.4rem;
                            line-height: 2rem;
                        }
                        .logos {
                            margin-top: 1.2rem;
                            .partner {
                                flex-direction: column;
                                align-items: flex-start;
                                .logo {
                                    width: 3.2rem;
                                    height: 3.2rem;
                                    margin-right: 0;
                                    margin-bottom: 0.5rem;
                                }
                                h5 {
                                    font-size: 1rem;
                                    line-height: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes scrollDrop {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    50% {
        transform: scaleY(1);
        transform-origin: top;
    }
    50.01% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}