@import "@/styles/imports";

.hero_section {
	width: 100%;
    min-height: 90vh;
    padding-top: 16rem!important;
    padding-inline: 4rem!important;
    .hero_container {
        padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		overflow: hidden;
        .hero_content, .hero_content_bottom {
            position: relative;
            max-width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10rem;
            margin: 0 auto;
            .logo_and_btn {
                width: 100%;
                .logo_big {
                    width: 100%;
                    position: relative;
                    height: 25rem;
                    & > img {
                        object-fit: contain;
                    }
                }
                h3 {
                    font-size: 2rem;
                    line-height: 2.8rem;
                    width: 75%;
                    font-weight: 500;
                    font-family: $font;
                    color: #FFF;
                }
                .btn {
                    min-width: fit-content;
                    padding: 1.6rem;
                    margin-top: 2.4rem;
                    height: 5.6rem;
                    & > p {
                        font-size: 1.6rem;
                        font-weight: 600!important;
                    }
                }
            }
            .details_and_partners {
                width: 75%;
                background: #1BB24B;
                border-top-right-radius: 3.2rem;
                border-bottom-left-radius: 3.2rem;
                border-bottom-right-radius: 3.2rem;
                padding: 3.2rem;
                .content {
                    width: 100%;
                    .header {
                        background: #276A35;
                        padding: 0.4rem 1.6rem;
                        width: fit-content;
                        h3 {
                            color: rgba($col-white, 0.7);
                            font-weight: 500;
                            font-size: 1.4rem;
                            line-height: 1.3;
                            font-family: $font;
                        }
                    }
                    .text {
                        margin-top: 1rem;
                        p {
                            font-size: 2.4rem;
                            line-height: 1.4;
                            font-weight: 500;
                            color: #000;
                            font-family: $font;
                            width: 95%;
                        }
                    }
                }
            }
        }
        .hero_content_bottom {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 13.5rem;
            .detail {
                width: 100%;
                p {
                    color: #1BB24B;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    font-family: $font-gothic-bold;
                    font-weight: 700;
                }
                h4 {
                    font-family: $font-gothic-bold;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 2.8rem;
                    line-height: 1.3;
                    font-weight: 500;
                    color: #FFF;
                    width: max-content;
                }
            }
            .btn {
                height: 5.6rem;
                & > p {
                    font-size: 1.6rem!important;
                    font-weight: 600!important;
                }
            }
        }
    }
    .divider {
        width: 100vw;
        height: 0.1rem;
        margin: 4.8rem -4rem;
        background: rgba($col-white, 0.2);
    }

    @include screenMax("tablet") {
        padding-top: 8rem!important;
        padding-inline: 2.4rem!important;
        .hero_container {
            padding: 2.4rem;
            .hero_content {
                max-width: 100%;
                grid-template-columns: 1fr 1fr;
                gap: 4rem;
                .logo_and_btn {
                    .logo_big {
                        height: 20rem;
                        width: 80%;
                        margin-inline: auto;
                        & > img {
                            object-fit: contain;
                        }
                    }
                    h3 {
                        font-size: 1.8rem;
                        line-height: 2.7rem;
                        width: 85%;
                    }
                    .btn {
                        margin-top: 1.6rem;
                        height: 5.2rem;
                        & > p {
                            font-size: 1.4rem!important;
                        }
                    }
                }
                .details_and_partners {
                    width: 80%;
                    margin-inline: auto;
                    padding: 2.4rem;
                    .content {
                        .header {
                            h3 {
                                font-size: 1.2rem;
                            }
                        }
                        .text {
                            p {
                                font-size: 1.6rem;
                                line-height: 2.4rem;
                            }
                        }
                    }
                }
            }
            .hero_content_bottom {
                gap: 4rem;
                max-width: 100%;
            }
        }
        .divider {
            margin: 3.6rem -2.4rem;
        }
    }

    @include screenMax("mobile") {
        padding-bottom: 6rem!important;
        padding-inline: 0!important;
        .hero_container {
            padding: 1.6rem;
            .hero_content {
                max-width: 100%;
                gap: 3.2rem;
                grid-template-columns: 1fr;
                .logo_and_btn {
                    .logo_big {
                        height: 17rem;
                        width: 95%;
                        & > img {
                            object-fit: contain;
                        }
                    }
                    h3 {
                        font-size: 1.4rem;
                        line-height: 2rem;
                        width: 95%;
                    }
                    .btn {
                        margin-top: 1.2rem;
                        padding: 0.8rem 1.2rem;
                        height: 4.4rem;
                    }
                }
                .details_and_partners {
                    width: 95%;
                    padding: 2rem;
                    .content {
                        .header {
                            h3 {
                                font-size: 1rem;
                            }
                        }
                        .text {
                            p {
                                font-size: 1.4rem;
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
            .hero_content_bottom {
                gap: 3.2rem;
                column-gap: 2rem;
                max-width: 100%;
                grid-template-columns: 1fr 1fr;
                .detail {
                    width: auto;
                    h4 {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }
                .btn {
                    height: 4.4rem;
                    & > p {
                        font-size: 1.2rem!important;
                        font-weight: 600!important;
                    }
                    & > figure {
                        width: 2.4rem!important;
                        height: 2.4rem!important;
                    }
                }
            }
        }
        .divider {
            margin: 2.4rem 0;
        }
    }
}


@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes scrollDrop {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    50% {
        transform: scaleY(1);
        transform-origin: top;
    }
    50.01% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}