@import "@/styles/imports";

.card_container {
    width: 100%;
    position: relative;
    padding: 3rem 2.7rem;
    min-height: 50.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 550ms ease-in-out;
    margin-block: 1.6rem;
    z-index: 1;
    &[data-active = "true"] {
        scale: 1.1;
        .card_content {
            .background_wrapper {
                .blur_bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    backdrop-filter: blur(3px);
                    background: #000000B3;
                    z-index: 1;
                }
            }
            h4 {
                opacity: 1;
                translate: 0 0;
                transition: opacity 550ms ease-in-out, translate 550ms ease-in-out;
                z-index: 3;
                // transition-timing-function: cubic-bezier(0.85, 0, 0, 1);
                // transition-duration: 550ms;
                // transition-property: opacity, translate;
            }
        }
        a {
            z-index: 2;
            .button {
                opacity: 1;
                translate: 0 0;
                // transition: opacity 550ms ease-in-out, translate 550ms ease-in-out;
                transition: all 550ms ease-in-out;
                // transition-timing-function: cubic-bezier(0.85, 0, 0, 1);
                // transition-duration: 550ms;
                // transition-property: opacity 550ms ease-in-out, translate 550ms cubic-bezier(0.85, 0, 0, 1);

            }
        }
    }
    .card_content {
        width: 100%;
        height: 100%;
        transition: all 400ms ease-in-out;
        .image_wrapper, .background_wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .image {
                position: relative;
                width: 100%;
                height: 100%;
                & > img {
                    object-fit: cover;
                }
            }
        }
        .background_wrapper {
            background: #FFFFFF1A;
        }
        .btn_text_container {
            z-index: 3;
            padding: 1rem;
            background: #FFF;
            margin-bottom: 1.2rem;
            width: fit-content;
            position: relative;
            p {
                font-size: 1.2rem;
                font-family: $font-gothic-bold;
                text-transform: uppercase;
                color: #276A35;
                line-height: 100%;
            }
        }
        .card_header {
            z-index: 3;
            display: none;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1.6rem;
            position: relative;
            .btn_text_container_sm {
                padding: 1.2rem;
                background: #FFF;
                width: fit-content;
                position: relative;
                p {
                    font-size: 1.2rem;
                    font-family: $font-gothic-bold;
                    text-transform: uppercase;
                    color: #276A35;
                    line-height: 100%;
                }
            }
            .close_icon {
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
            }
        }
        h2 {
            z-index: 3;
            font-size: 1.6rem;
            font-family: $font-gothic-bold;
            line-height: 1.5;
            color: $col-white;
            margin-bottom: 1.6rem;
            width: 95%;
            position: relative;
            text-transform: capitalize;
        }
        h4 {
            color: $col-white;
            font-family: $font;
            line-height: 1.5;
            opacity: 0;
            font-size: 1.2rem;
            translate: 30% 0;
            position: relative;
            z-index: -1;
            transition: opacity 550ms ease-in-out, translate 550ms ease-in-out;
        }
    }
    a {
        width: fit-content;
        .button {
            justify-self: flex-start;
            align-self: flex-end;
            min-width: 15rem;
            height: 5rem;
            opacity: 0;
            translate: 0 60%;
            transition: all 550ms ease-in-out;
            & > p {
                font-size: 1.4rem!important;
                font-weight: 600!important;
            }
        }
    }

    @include screenMax('tablet') {
        min-height: 46rem;
        padding: 2.4rem;
    }

    @include screenMax('mobile') {
        padding: 1.6rem;
        min-height: 40rem;
        width: 80%;
        flex-shrink: 0;
        margin-inline: auto;
        margin-block: 0.8rem;
        &[data-active = "true"] {
            scale: unset;
            border: 0.4rem solid #276A35;
        }
        .card_content {
            h2 {
                width: 100%;
                margin-block: 0.8rem;
                font-size: 1.4rem;
                line-height: 2rem;
            }
            .card_header {
                display: flex;
            }
            .btn_text_container {
                display: none;
            }
        }
        a {
            .button {
                height: 4rem!important;
                & > p {
                    font-size: 1.4rem;
                }
            }
        }
    }
}