@import "@/styles/imports";

.card_container {
    width: 100%;
    position: relative;
    padding: 3rem 2.7rem;
    min-height: 44.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 400ms ease-in-out;
    z-index: 1;
    &[data-active = "true"] {
        .card_content {
            z-index: 2;
            h4 {
                opacity: 1;
                translate: 0 0;
                transition: all 400ms ease-in-out;
            }
        }
        a {
            z-index: 2;
            .button {
                opacity: 1;
                translate: 0% 0%;
                transition: all 400ms ease-in-out;
            }
        }
    }
    .card_content {
        width: 100%;
        height: 100%;
        transition: all 400ms ease-in-out;
        .image_wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .image {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
        .btn_text_container {
            padding: 1rem;
            background: #FFF;
            margin-bottom: 0.8rem;
            width: fit-content;
            position: relative;
            p {
                font-size: 1.2rem;
                font-family: $font-gothic-bold;
                text-transform: uppercase;
                color: #276A35;
                line-height: 100%;
            }
        }
        h2 {
            font-size: 1.6rem;
            font-family: $font-gothic-bold;
            line-height: 100%;
            color: $col-white;
            margin-bottom: 1.6rem;
            width: 90%;
            position: relative;
        }
        h4 {
            color: $col-white;
            font-family: $font;
            line-height: 100%;
            opacity: 0;
            font-size: 1.2rem;
            translate: 60% 0;
        }
    }
    a {
        .button {
            justify-self: flex-start;
            align-self: flex-end;
            min-width: 15rem;
            height: 5rem;
            opacity: 0;
            translate: 50% 0;
            & > p {
                font-size: 1.6rem!important;
            }
        }
    }

    @include screenMax('mobile') {
        padding: 1.6rem;
        min-height: 34rem;
        .card_content {
            h2 {
                width: 100%;
            }
        }
    }
}