@import "@/styles/imports";

.agenda_section {
    padding-inline: 4rem!important;
    padding-bottom: 0!important;
	width: 100%;
    background: rgba($col-white, 0.1);
    .agenda_container {
        padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		overflow: hidden;
        .about_label {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0;
            margin-bottom: 2.4rem;
            .label_line {
                width: 3rem;
                height: 0.1rem;
                background: #1BB24B;
            }
            p {
                font-size: 1.6rem;
                font-weight: 700;
                font-family: $font-gothic-bold;
                text-transform: uppercase;
                letter-spacing: 0.22rem;
                color: #1BB24B;
            }
        }
        .about_text {
            h1 {
                font-size: 4.4rem;
                line-height: 6rem;
                font-family: $font-gothic-bold;
                font-weight: 700;
                max-width: 60rem;
                color: #FFF;
            }
            h6 {
                margin-top: 1.6rem;
                font-size: 1.4rem;
                font-family: $font;
                color: #FFF;
                max-width: 60rem;
            }
        }
        .sessions {
            width: 100%;
            margin-top: 6.4rem;
            .title {
                margin: 4rem 0 2rem;
                display: flex;
                width: max-content;
                align-items: center;
                justify-content: center;
                background: #00BF4D;
                padding: 1.6rem 2.4rem;
                border-radius: 1rem;
                cursor: pointer;
                transition: all 300ms ease-in-out;
                h3 {
                    color: #FFF;
                    text-transform: uppercase;
                    font-family: $font;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
                &:hover {
                    background: #0e5e27;
                }
            }
            .cards {
                @include grid(repeat(3, 1fr), 8rem, 3.6rem);
                margin-top: 3.2rem;
                display: none;
                .card {
                    width: 100%;
                    border-radius: 0.2rem;
                    .number {
                        padding: 1rem 2.4rem;
                        margin-bottom: 1.4rem;
                        background: #1BB24B;
                        h3 {
                            color: #FFF;
                            font-size: 2.4rem;
                            line-height: 3.2rem;
                            font-family: $font-gothic-bold;
                        }
                    }
                    .card_body {
                        padding: 2.4rem;
                        background: rgba($col-white, 0.2);
                        min-height: 21rem;
                        h6 {
                            text-transform: uppercase;
                            margin-bottom: 1.2rem;
                            font-size: 1.6rem;
                            font-weight: 700;
                            letter-spacing: 0.15rem;
                            color: #FFF;
                        }
                        p {
                            line-height: 1.65;
                            font-size: 1.4rem;
                            color: #FFF;
                            font-family: $font;
                        }
                    }
                }
            }
            .session_details_container {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                .session_details {
                    display: grid;
                    grid-template-columns: 1fr 1.5fr;
                    border-top: 0.1rem solid rgba($col-white, 0.2);
                    padding: 1.6rem 0;
                    min-height: 13rem;
                    .session_title {
                        border-right: 0.1rem solid rgba($col-white, 0.2);
                        h3 {
                            color: #1BB24B;
                            font-size: 1.8rem;
                            line-height: 2.7rem;
                            font-family: $font-gothic-bold;
                            width: 70%;
                        }
                    }
                    .session_details_text {
                        margin-left: 7.2rem;
                        h2 {
                            font-size: 1.8rem;
                            line-height: 2.7rem;
                            color: #FFF;
                            font-family: $font-gothic-bold;
                            margin-bottom: 1rem;
                            width: 85%;
                        }
                        p {
                            font-size: 1.6rem;
                            font-family: $font;
                            color: #FFF;
                            width: 90%;
                        }
                    }
                    &[data-index = "5"] {
                        border-bottom: 0.1rem solid rgba($col-white, 0.2);
                    }
                }
            }
        }
    }

    @include screenMax("tablet") {
        padding-inline: 2.4rem!important;
        padding-top: 7.2rem!important;
        .agenda_container {
            padding: 2.4rem;
            .about_label {
                margin-bottom: 2rem;
                p {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
            .about_text {
                h1 {
                    font-size: 3.6rem;
                    line-height: 4.8rem;
                    font-family: $font;
                    font-weight: 700;
                    max-width: 80%;
                }
                h6 {
                    margin-top: 1.2rem;
                }
            }
            .sessions {
                margin-top: 4.8rem;
                .title {
                    margin: 3.2rem 0 1.6rem;
                }
                .cards {
                    @include grid(repeat(3, 1fr), 4rem, 2.8rem);
                    display: none;
                    .card {
                        .number {
                            margin-bottom: 1rem;
                            padding: 1rem 2rem;
                            h3 {
                                color: #FFF;
                                font-size: 2rem;
                                line-height: 2.8rem;
                                font-family: $font-gothic-bold;
                            }
                        }
                        .card_body {
                            padding: 2rem;
                            h6 {
                                margin-bottom: 1rem;
                                font-size: 1.4rem;
                                line-height: 2rem;
                            }
                            p {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .session_details_container {
                    gap: 1.4rem;
                    .session_details {
                        padding: 1.2rem 0;
                        .session_title {
                            h3 {
                                font-size: 1.6rem;
                                line-height: 2.4rem;
                                width: 80%;
                            }
                        }
                        .session_details_text {
                            margin-left: 4.8rem;
                            h2 {
                                font-size: 1.6rem;
                                line-height: 2.4rem;
                            }
                            p {
                                font-size: 1.4rem;
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @include screenMax("mobile") {
        padding-inline: 0!important;
        padding-top: 5.6rem!important;
        .agenda_container {
            padding: 1.6rem;
            .about_label {
                margin-bottom: 1.6rem;
                p {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
            .about_text {
                h1 {
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                    font-family: $font;
                    font-weight: 700;
                    max-width: 95%;
                }
                h6 {
                    margin-top: 1rem;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    max-width: 90%;
                }
            }
            .sessions {
                margin-top: 3.2rem;
                .title {
                    margin: 2rem 0 1rem;
                    padding: 0.8rem 2.4rem;
                    h3 {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }
                }
                .cards {
                    @include grid(repeat(1, 1fr), 1.6rem, 2.4rem);
                    display: none;
                    .card {
                        .number {
                            margin-bottom: 1rem;
                            padding: 0.4rem 1.6rem;
                            h3 {
                                color: #FFF;
                                font-size: 1.6rem;
                                line-height: 2.4rem;
                                font-family: $font-gothic-bold;
                            }
                        }
                        .card_body {
                            padding: 1.6rem;
                            min-height: 15rem;
                            h6 {
                                margin-bottom: 0.8rem;
                                font-size: 1.4rem;
                                line-height: 2rem;
                            }
                            p {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .session_details_container {
                    gap: 1.4rem;
                    .session_details {
                        padding: 1rem 0;
                        grid-template-columns: 1fr;
                        .session_title {
                            border-bottom: 0.1rem solid rgba($col-white, 0.2);
                            border-right: 0;
                            padding-bottom: 0.8rem;
                            h3 {
                                font-size: 1.4rem;
                                line-height: 2rem;
                                width: 90%;
                            }
                        }
                        .session_details_text {
                            margin-left: 0;
                            margin-top: 2rem;
                            h2 {
                                font-size: 1.4rem;
                                line-height: 2rem;
                                width: 90%;
                            }
                            p {
                                font-size: 1.2rem;
                                line-height: 1.6rem;
                                width: 95%;
                            }
                        }
                    }
                }
            }
        }
    }
}