@import "@/styles/imports";

.card {
    width: 100%;
    background-color: rgba($col-white, 0.1);
    border-radius: 1.5rem;
    overflow: hidden;
    padding: 3.2rem;
    position: relative;
    margin-top: 3.6rem;
    height: 38.4rem;
    // min-height: 36.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.1rem solid rgba($col-white, 0.1);
    transition: all 400ms ease-in-out;
    &[data-card = "customised"], &[data-card = "cloud"], &[data-card = "web3"] {
        height: 51.7rem;
    }
    &[data-card = "infrastructure"], &[data-card = "capacity"] {
        height: 58.4rem;
    }
    &[data-card = "cybersecurity"], &[data-card = "tech"] {
        height: 36.6rem;
    }
    &[data-active = "true"] {
        .card_content {
            .details {
                position: relative;
                p {
                    transition: all 400ms ease-in-out;
                    opacity: 1;
                    translate: 0 0%;
                }
            }
            .card_image {
                opacity: 0;
                translate: 0% 100%;
                transition: all 400ms ease-in-out;
                animation: drone-go-down 1s ease-in 0s forwards;
            }
            
        }
        a {
            .button {
                opacity: 1;
                translate: 0% 0%;
                transition: all 400ms ease-in-out;
            }
        }
    }
    .card_content {
        transition: all 400ms ease-in-out;
        .details {
            position: relative;
            transition: all 400ms ease-in-out;
            h3 {
                font-size: 2.4rem;
                line-height: 3.2rem;
                font-weight: 700;
                font-family: $font-gothic-bold;
                color: #fff;
                margin-bottom: 2rem;
            }
            p {
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: #FFF;
                font-weight: 500;
                opacity: 0;
                translate: -100% 0;
            }
        }
        .card_image {
            position: relative;
            // animation: drone-come-up 1.6s ease-out 2.3s forwards, float-drone 8s ease-in-out 3.9s infinite;
            animation: float-drone 8s ease-in-out 3.9s infinite;
            // translate: 0 0%;
            // opacity: 1;
            // transition: all 400ms ease-in-out;
            & > img {
                object-fit: cover;
            }
            &[data-image = "customised"] {
               width: 53rem;
                height: 28rem;
            }
            &[data-image = "cloud"] {
                width: 35.2rem;
                height: 34.5rem;
            }
            &[data-image = "web3"] {
                width: 42.8rem;
                height: 35rem;
            }
            &[data-image = "cybersecurity"] {
                width: 22rem;
                height: 16rem;
            }
            &[data-image = "data"] {
                width: 27rem;
                height: 16rem;
            }
            &[data-image = "network"] {
                width: 20rem;
                height: 13rem;
            }
            &[data-image = "it"] {
                width: 23.4rem;
                height: 21rem;
            }
            &[data-image = "infrastructure"] {
                width: 54.1rem;
                height: 37rem;
            }
            &[data-image = "capacity"] {
                width: 38.7rem;
                height: 35.5rem;
            }
            &[data-image = "tech"] {
                width: 39.4rem;
                height: 22rem;
            }
            &[data-image = "strategy"] {
                width: 30rem;
                height: 25rem;
            }
            &[data-image = "compliance"] {
                width: 41rem;
                height: 22rem;
            }
        }
    }
    a {
        .button {
            margin-top: -8rem;
            justify-self: flex-start;
            align-self: flex-end;
            min-width: 15rem;
            height: 5rem;
            opacity: 0;
            translate: -100% 0;
            & > p {
                font-size: 1.4rem!important;
                font-weight: 600!important;
            }
        }
    }
    .details_mob {
        display: none;
    }

    @include screenMax('tablet') {
        padding: 2.4rem;
        margin-top: 2.4rem;
        .card_content {
            .details {
                h3 {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
            }
        }
        a {
            .button {
                margin-top: -6.4rem;
            }
        }
        .grad {
            display: none!important;
        }
    }

    @include screenMax('mobile') {
        padding: 1.6rem;
        height: auto!important;
        .details, .card_image, .button {
            display: none;
        }
        .details_mob {
            display: flex;
            flex-direction: column;
            gap: 7.5rem;
            .content {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                .card_content {
                    h3 {
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                        font-family: $font-gothic-bold;
                        color: #FFF;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: 1.4rem;
                        line-height: 2rem;
                        font-weight: 400;
                        color: #FFF;
                    }
                }
                a {
                    width: fit-content;
                    margin-top: 1.6rem;
                    .button_mob {
                        min-width: 10rem;
                        height: 3.5rem;
                        & > p {
                            font-size: 1.4rem!important;
                            font-weight: 600!important;
                        }
                    }
                }
            }
            .card_image_mob {
                align-self: flex-end;
                width: 24rem;
                height: 20rem;
                position: relative;
                animation: float-drone 8s ease-in-out 3.9s infinite;
                & > img {
                    object-fit: cover;
                }
            }
        }
    }
}

@keyframes drone-come-up {
	0% {
		bottom: -40rem;
		opacity: 0;
	}
	100% {
		bottom: 3.4rem;
		opacity: 1;
	}
}

@keyframes float-drone {
	0% {
		transform: translateY(0) rotate(0deg) scale(1);
	}
	25% {
		transform: translateY(-1.2rem) rotate(-2deg) scale(1.02);
	}
	50% {
		transform: translateY(0.6rem) rotate(1deg) scale(0.99);
	}
	75% {
		transform: translateY(-0.8rem) rotate(-1deg) scale(1.01);
	}
	100% {
		transform: translateY(0) rotate(0deg) scale(1);
	}
}

@keyframes drone-go-down {
	0% {
		bottom: 3.4rem;
		opacity: 1;
		transform: translateY(0) rotate(0deg) scale(1);
	}
	100% {
		bottom: -40rem;
		opacity: 0;
		transform: translateY(0) rotate(0deg) scale(1);
	}
}