@import "@/styles/imports";

.section {
	margin-top: 8rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		.row {
			width: 100%;
			@include grid(repeat(2, 1fr), 4.8rem, 3.2rem);
			margin-bottom: 3.6rem;
		}
		.card,
		.large_card {
			width: 100%;
			// background-color: rgba($col-white, 0.05);
			background-color: #FFFFFF1A;
			border-radius: 1.5rem;
			overflow: hidden;
			position: relative;
			margin-top: 3.6rem;
			border: 0.1rem solid rgba($col-white, 0.1);
			.image {
				position: relative;
				width: 100%;
				height: 40rem;
				margin-bottom: 3.2rem;
				& > img {
					object-fit: cover;
				}
			}
			.details {
				max-width: 68rem;
				h3, h2 {
					@extend %title-50;
					font-weight: 700;
					font-family: $font-gothic-bold;
					color: #fff;
					margin-bottom: 2rem;
				}
				h3 {
					font-size: 2.4rem;
					line-height: 3.2rem;
					text-transform: capitalize;
				}
				p {
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
				h5 {
					font-weight: 700;
					text-transform: uppercase;
					margin-bottom: 0.8rem;
				}
				.button {
					margin-top: 3.2rem;
					justify-self: flex-start;
					& > p {
						font-weight: 600!important;
					}
				}
			}
			.grad {
				// background-color: #13361B;
				background-color: #000;
				width: 100%;
				height: 100%;
				filter: blur(120px);
				position: absolute;
				left: 0;
				z-index: -1;
			}
		}
		.card {
			.details {
				padding: 3.2rem;
			}
		}
		.large_card {
			margin-bottom: 3.2rem;
			padding: 3.2rem;
			// padding-top: 7.9rem;
			padding-top: 4rem;
		}
		.research_wrapper {
			padding: 3.6rem;
			max-width: $max-width;
			margin-inline: auto;
			overflow-x: hidden;
			@include grid(repeat(4, 1fr), 2.4rem);
			@include noScrollBar();
		}
	}
	.divider,
	.divider1 {
		width: 100%;
		height: 0.2rem;
		background-color: #bef2be;
	}
	.divider1 {
		background-color: rgba(255, 255, 255, 0.1);
		margin-block: 3.6rem;
	}

	@include screenMax("tablet") {
		.section_container {
			padding: 2rem;
			.large_card {
				padding: 2rem;
			}
			.card, .large_card {
				margin-top: 2.4rem;
				.image {
					height: 35rem;
					margin-bottom: 2.4rem;
				}
				.details {
					h3 {
						font-size: 2.8rem;
						line-height: 3.2rem;
					}
					p {
						font-size: 1.6rem;
						line-height: 2.4rem;
					}
				}
			}
			.row {
				grid-template-columns: 100%;
				margin-bottom: 2.4rem;
				.card {
					.image {
						height: 30rem;
						margin-bottom: 2rem;
					}
					.details {
						max-width: 99%;
						padding-inline: 2rem;
					}
				}
			}
			.research_wrapper {
				@include grid(repeat(2, 1fr), 9.6rem);
				padding: 2.4rem 6.4rem;
			}
		}
		.divider1 {
			margin-block: 1.6rem;
		}
	}

	@include screenMax("mobile") {
		.section_container {
			.large_card {
				margin-bottom: 1.6rem;
			}
			.card, .large_card {
				margin-top: 1.6rem;
				.image {
					height: 28rem;
					margin-bottom: 1.6rem;
				}
				.details {
					h3 {
						font-size: 2rem;
						line-height: 2.4rem;
					}
					p {
						font-size: 1.4rem;
						line-height: 2rem;
					}
				}
			}
			.row {
				.card {
					.image {
						height: 20rem;
						margin-bottom: 1.2rem;
					}
					.details {
						padding: 1.6rem 2.4rem;
						max-width: 100%;
						.button {
							min-width: 13rem;
						}
					}
				}
			}
			.research_wrapper {
				display: flex;
				align-items: center;
				gap: 1.6rem;
				overflow-x: scroll;
				padding: 1.6rem;
			}
		}
		.divider1 {
			margin-block: 0.8rem;
		}
	}
}
