@import "@/styles/imports";

.section {
	margin-top: 8rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		.row {
			width: 100%;
			@include grid(repeat(2, 1fr), 3.2rem, 3.2rem);
		}
		.card,
		.large_card {
			width: 100%;
			background-color: rgba($col-white, 0.05);
			border-radius: 1.5rem;
			overflow: hidden;
			position: relative;
			margin-top: 3.6rem;
			border: 0.1rem solid rgba($col-white, 0.1);
			.image {
				position: relative;
				width: 100%;
				height: 40rem;
				margin-bottom: 3.2rem;
				& > img {
					object-fit: cover;
				}
			}
			.details {
				max-width: 68rem;
				h3,
				h2 {
					@extend %title-50;
					font-weight: 700;
					font-family: $font-gothic-bold;
					color: #fff;
					margin-bottom: 2rem;
				}
				h3 {
					font-size: 3rem;
					line-height: 3.3rem;
				}
				h5 {
					font-weight: 700;
					text-transform: uppercase;
				}
				.button {
					margin-top: 3.2rem;
					justify-self: flex-start;
				}
			}
			.grad {
				background-color: #13361b;
				width: 36.6rem;
				height: 36.6rem;
				filter: blur(120px);
				position: absolute;
				left: 0;
				z-index: -1;
			}
		}
		.card {
			.details {
				padding: 3.2rem;
			}
		}
		.large_card {
			margin-bottom: 3.2rem;
			padding: 3.2rem;
			padding-top: 7.9rem;
		}
	}
	.divider,
	.divider1 {
		width: 100%;
		height: 2rem;
		background-color: #bef2be;
	}
	.divider1 {
		background-color: rgba(255, 255, 255, 0.05);
		margin-block: 3.6rem;
	}

	@include screenMax("tablet") {
		.section_container {
			padding: 2rem;
			.large_card {
				padding: 2rem;
			}
			.card, .large_card {
				margin-top: 2.4rem;
				.image {
					height: 35rem;
					margin-bottom: 2.4rem;
				}
				.details {
					h3 {
						font-size: 2.8rem;
						line-height: 3.2rem;
					}
				}
			}
			.row {
				grid-template-columns: 100%;
				.card {
					.image {
						height: 15.5rem;
						margin-bottom: 2rem;
					}
					.details {
						padding-inline: 2rem;
					}
				}
			}
		}
		.divider1 {
			margin-block: 1.6rem;
		}
	}

	@include screenMax("mobile") {
		.section_container {
			.large_card {
				margin-bottom: 1.6rem;
			}
			.card, .large_card {
				margin-top: 1.6rem;
				.image {
					height: 28rem;
					margin-bottom: 1.6rem;
				}
				.details {
					h3 {
						font-size: 1.8rem;
						line-height: 2.4rem;
					}
					p {
						font-size: 1.4rem;
						line-height: 2rem;
					}
				}
			}
		}
		.divider1 {
			margin-block: 0.8rem;
		}
	}
}
