@import "@/styles/imports";

.section {
	width: 100%;
	margin-bottom: 6rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		.text {
			h2 {
				font-size: 6.4rem;
				line-height: 7.2rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				color: #fff;
				margin-bottom: 3.6rem;
			}
			h3,
			span {
				font-size: 2.8rem;
				line-height: 3.6rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
			}
			span {
				color: #fff;
			}
		}
		.grid {
			@include grid(repeat(4, 1fr), 3.6rem);
			margin-block: 3.6rem;
			.card {
				border: 0.1rem solid rgba(255, 255, 255, 0.12);
				border-radius: 1.5rem;
				overflow: hidden;
				.image {
					width: 100%;
					height: 15.4rem;
					position: relative;
					& > img {
						object-fit: cover;
					}
				}
				.card_details {
					padding: 7.8rem 2rem 3.2rem;
					background: #000;
					p {
						font-size: 1.6rem;
						line-height: 2rem;
						color: rgba(255, 255, 255, 0.6);
					}
					h4 {
						font-size: 2.4rem;
						line-height: 3.2rem;
						font-weight: 700;
						font-family: $font-gothic-bold;
						margin-block: 0.5rem;
						color: #fff;
					}
				}
			}
		}
		.learn_more {
			p {
				font-weight: 600!important;
			}
		}
		.grad_1, .grad_2 {
			background-color: #13361b;
			width: 36.6rem;
			height: 36.6rem;
			filter: blur(200px);
			position: absolute;
			top: 10.3rem;
			left: 0;
			z-index: -1;
		}
		.grad_2 {
			left: unset;
			right: 0;
		}
	}
	.divider {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}

	@include screenMax("tablet") {
		margin-bottom: 6rem;
		.section_container {
			overflow: hidden;
			padding: 3.6rem 2.4rem;
			.grid {
				overflow-x: scroll;
				margin-block: 3rem;
				grid-template-columns: repeat(2, 1fr);
				.card {
					.card_details {
						padding: 3.6rem 2rem 2.4rem;
						h4 {
							font-size: 2.2rem;
							line-height: 2.8rem;
						}
					}
				}
			}
			.grad_1,
			.grad_2 {
				display: none;
			}
			.text {
				h2 {
					font-size: 4.4rem;
					line-height: 5.6rem;
					margin-bottom: 2rem;
				}
				h3, span {
					font-size: 2rem;
					line-height: 2.8rem;
				}
			}
		}
	}

	@include screenMax('mobile') {
		margin-bottom: 4rem;
		.section_container {
			padding: 2.4rem 1.6rem;
			.text {
				h2 {
					font-size: 2.4rem;
					line-height: 3.2rem;
					margin-bottom: 1rem;
				}
				h3, span {
					font-size: 1.4rem;
					line-height: 2rem;
				}
			}
			.grid {
				grid-template-columns: repeat(1, 1fr);
				margin-block: 2.4rem;
				.card {
					.image {
						height: 10rem;
					}
					.card_details {
						padding: 2rem 1.6re;
						p {
							font-size: 1.4rem;
						}
						h4 {
							font-size: 2rem;
							line-height: 2.8rem;
						}
					}
				}
			}
		}
	}
}
