@import "@/styles/imports";

.section {
	width: 100%;
	margin-bottom: 8rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		.text {
			h2 {
				font-size: 5.6rem;
				line-height: 6.4rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				color: #fff;
				margin-bottom: 2.4rem;
			}
			h3,
			span {
				font-size: 2.2rem;
				line-height: 3rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
			}
			span {
				color: #fff;
			}
		}
		.grid {
			@include grid(repeat(4, 1fr), 2.4rem);
			margin-block: 3.6rem;
			.card {
				border: 0.2rem solid rgba(255, 255, 255, 0.1);
				border-radius: 1.5rem;
				overflow: hidden;
				.image {
					width: 100%;
					height: 15.4rem;
					background: rgba(255, 255, 255, 0.1);
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					& > img {
						object-fit: cover;
					}
				}
				.card_details {
					padding: 7.8rem 2rem 3.2rem;
					background: #000;
					p {
						font-size: 1.6rem;
						line-height: 2rem;
						color: rgba(255, 255, 255, 0.6);
					}
					h4 {
						font-size: 2.4rem;
						line-height: 3.2rem;
						font-weight: 700;
						font-family: $font-gothic-bold;
						margin-block: 0.5rem;
						color: #FFF;
					}
				}
			}
			.card_1 {
				.image {
					.container_1 {
						margin-inline: auto;
						width: 5.5rem;
						height: 5.5rem;
						background: #BEF2BE;
						border-radius: 50%;
					}
				}
			}
			.card_2 {
				.image {
					.container_1, .container_2 {
						width: 5.5rem;
						height: 5.5rem;
						background: #BEF2BE;
						border-radius: 50%;
						position: relative;
					}
					.container_2 {
						background: #00BF4D;
						border: 0.3rem solid #FFF;
						right: 2rem;
					}
				}
			}
			.card_3 {
				.image {
					.container_1, .container_2 {
						width: 5.5rem;
						height: 5.5rem;
						background: #BEF2BE;
						border-radius: 50%;
						position: relative;
					}
					.container_2 {
						border-radius: 0;
						background: #00BF4D;
						border: 0.3rem solid #FFF;
						right: 1.5rem;
					}
				}
			}
			.card_4 {
				.image {
					.container_1 {
						position: relative;
						width: 5.5rem;
						height: 5.5rem;
					}
					.container_2 {
						position: relative;
						width: 5.5rem;
						height: 5.5rem;
						right: 2.5rem;
					}
				}
			}
			// &.visible {
			// 	transition: all 500ms ease-in-out;
			// 	.card {
			// 		.image {
			// 			.container_1, .container_2 {
			// 				transition: translate 0.5s ease-out, opacity 0.5s ease-out;
			// 				opacity: 1;
			// 				translate: 0% 0;
            //     			@include noScrollBar();
			// 			}
			// 		}
			// 	}
			// }
		}
		.learn_more {
			p {
				font-weight: 600!important;
			}
		}
		.grad_1, .grad_2 {
			// background-color: #13361b;
			background-color: #FFFFFF0D;
			// #FFFFFF0D
			width: 36.6rem;
			height: 36.6rem;
			filter: blur(200px);
			position: absolute;
			top: 10.3rem;
			left: 0;
			z-index: -1;
		}
		.grad_2 {
			left: unset;
			right: 0;
		}
	}
	.divider {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
		margin-top: 8rem;
	}

	@include screenMax("tablet") {
		margin-bottom: 6rem;
		.section_container {
			overflow: hidden;
			padding: 3.6rem 2.4rem;
			.text {
				h2 {
					margin-bottom: 1.6rem;
					font-size: 4.4rem;
					line-height: 5.2rem;
				}
				h3, span {
					font-size: 1.8rem;
					line-height: 2.7rem;
				}
			}
			.grid {
				overflow-x: scroll;
				margin-block: 3rem;
				// grid-template-columns: repeat(2, 1fr);
				@include grid(repeat(2, 1fr), 8.6rem);
				.card, .card_1, .card_2, .card_3, .card_4 {
					width: 100%;
					.card_details {
						padding: 3.6rem 2rem 2.4rem;
						h4 {
							font-size: 2.2rem;
							line-height: 2.8rem;
						}
					}
				}
			}
			.grad_1,
			.grad_2 {
				display: none;
			}
			.text {
				h2 {
					font-size: 4.4rem;
					line-height: 5.6rem;
					margin-bottom: 2rem;
				}
				h3, span {
					font-size: 2rem;
					line-height: 2.8rem;
				}
			}
		}
		.divider {
			margin-top: 6rem;
		}
	}

	@include screenMax('mobile') {
		margin-bottom: 4rem;
		.section_container {
			padding: 2.4rem 1.6rem;
			.text {
				h2 {
					font-size: 2.4rem;
					line-height: 3.2rem;
					margin-bottom: 1rem;
				}
				h3, span {
					font-size: 1.4rem;
					line-height: 2rem;
				}
			}
			.grid {
				// grid-template-columns: repeat(1, 1fr);
				@include grid(repeat(1, 1fr), 2.4rem);
				row-gap: 1.6rem;
				overflow-y: hidden;
				margin-block: 2.4rem;
				.card {
					.image {
						height: 10rem;
					}
					.card_details {
						p {
							font-size: 1.4rem;
						}
						h4 {
							font-size: 1.8rem;
							line-height: 2.7rem;
						}
					}
				}
			}
		}
		.divider {
			margin-top: 4rem;
		}
	}
}
