@import "@/styles/imports";

.research_container {
    width: 100%;
    .research_wrapper {
        padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		overflow-x: hidden;
        @include grid(repeat(4, 1fr), 6.4rem);
    }
    .divider {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}

    @include screenMax("tablet") {
        .research_wrapper {
            @include grid(repeat(2, 1fr), 9.6rem);
            padding: 2.4rem 6.4rem;
        }
    }
    @include screenMax("mobile") {
        .research_wrapper {
            @include grid(repeat(1, 1fr), 1.6rem);
            @include noScrollBar();
            overflow-x: auto;
            padding: 1.6rem;
        }
    }
}