@import "@/styles/imports";

.research_container {
    width: 100%;
    margin-block: 8rem;
    .research_wrapper {
        padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		overflow-x: hidden;
        @include grid(repeat(4, 1fr), 6.4rem);
        @include noScrollBar();
    }
    .divider {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
        margin-top: 8rem;
	}

    @include screenMax("tablet") {
        margin-block: 6rem;
        .research_wrapper {
            @include grid(repeat(2, 1fr), 9.6rem);
            padding: 2.4rem 6.4rem;
            // padding: 2.4rem;
        }
        .divider {
            margin-top: 6rem;
        }
    }
    @include screenMax("mobile") {
        margin-block: 4rem;
        .research_wrapper {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            overflow-x: scroll;
            // @include noScrollBar();
            // overflow-x: auto;
            padding: 1.6rem;
        }
        .divider {
            margin-top: 4rem;
        }
    }
}