@import "@/styles/imports";

.modal_body {
    width: 80rem!important;
    margin-inline: auto!important;
    .modal_content_body {
        width: 100%;
        padding: 3.2rem 2.4rem;
        position: relative;
        .modal_header {
            display: flex;
            align-items: center;
            margin-bottom: 2.4rem;
            justify-content: space-between;
            width: calc(99% - 1.6rem);
            margin-inline: auto;
            h1 {
                font-size: 2.4rem;
                line-height: 3.2rem;
                font-weight: 700;
                color: #FFF;
            }
            .close_icon {
                cursor: pointer;
                width: 3.6rem;
                height: 3.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                background: rgba(255, 255, 255, 0.75);
                border-radius: 50%;
                border: 0.1rem solid rgba(255, 255, 255, 0.1);
                h3 {
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                    color: #000;
                    font-weight: 700;
                }
            }
        }
        .modal_content_container {
            max-height: 70vh;
            overflow-y: auto;
            @include noScrollBar();
            .modal_content {
                width: 100%;
                h2 {
                    font-size: 2rem;
                    line-height: 2.8rem;
                    font-weight: 700;
                    color: #FFF;
                    margin-bottom: 1.6rem;
                }
                h3, span {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    font-weight: 400;
                    color: #FFF;
                    a {
                        cursor: pointer;
                        text-decoration: underline;
                        color: rgb(88, 109, 244);
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                    }
                }
            }
            .accept_all {
                width: 22rem;
                height: 5.6rem;
                background: #0BB55D;
                border-radius: 10rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 0!important;
                margin-block: 3.6rem;
                h3 {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    color: #FFF;
                    font-weight: 600;
                }
            }
            .preferences {
                width: 100%;
                h2 {
                    font-size: 2rem;
                    line-height: 2.8rem;
                    font-weight: 700;
                    color: #FFF;
                }
                .preferences_body {
                    margin-top: 2.4rem;
                    width: 100%;
                }
            }
            .ctas {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                margin-top: 4rem;
                justify-self: flex-end;
                padding-right: 1.6rem;
                .accept_btn {
                    width: 22rem;
                    height: 5.6rem;
                    background: #0BB55D;
                    border-radius: 10rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border: 0!important;
                    h3 {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: #FFF;
                        font-weight: 600;
                    }
                }
                .decline_btn {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 10rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24rem;
                    height: 5.6rem;
                    border: 0.2rem solid rgba(255, 255, 255, 0.2);
                    cursor: pointer;
                    h3 {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: #FFF;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    @include screenMax("tablet") {
        width: 80%!important;
        .modal_content_body {
            padding: 2.4rem;
            .modal_header {
                margin-bottom: 2rem;
                h1 {
                    font-size: 2.2rem;
                    line-height: 3rem;
                }
            }
            .modal_content_container {
                max-height: 75vh;
                .modal_content {
                    h2 {
                        font-size: 1.8rem;
                        line-height: 2.7rem;
                        margin-bottom: 1.2rem;
                    }
                    h3, span {
                        font-size: 1.4rem;
                        line-height: 2rem;
                        a {
                            font-size: 1.4rem;
                            line-height: 2rem;
                        }
                    }
                }
                .preferences {
                    h2 {
                        font-size: 1.8rem;
                        line-height: 2.7rem;
                    }
                    .preferences_body {
                        margin-top: 1.6rem;
                    }
                }
                .accept_all {
                    margin-block: 2.4rem;
                    height: 5rem;
                    h3 {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }
                .ctas {
                    margin-top: 2.4rem;
                    width: 100%;
                    justify-content: flex-end;
                    .accept_btn, .decline_btn {
                        height: 5rem;
                        h3 {
                            font-size: 1.4rem;
                            line-height: 2rem;
                        }
                    }
                }
            }
        }
    }

    @include screenMax("mobile") {
        width: 100%!important;
        .modal_content_body {
            padding: 2.4rem 1.6rem;
            .modal_header {
                margin-bottom: 1.6rem;
                h1 {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
                .close_icon {
                    width: 2.4rem;
                    height: 2.4rem;
                    h3 {
                        font-size: 1.6rem;
                        line-height: 2rem;
                    }
                }
            }
            .modal_content_container {
                max-height: 82.5vh;
                .modal_content {
                    width: 100%;
                    h2 {
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        margin-bottom: 0.8rem;
                    }
                    h3, span {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        a {
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                        }
                    }
                }
                .accept_all {
                    height: 4.2rem;
                    width: calc(100% - 0.8rem);
                    margin-block: 2.4rem;
                    h3 {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }
                }
                .ctas {
                    margin-top: 2rem;
                    width: 100%;
                    justify-self: unset;
                    justify-content: unset;
                    gap: 1rem;
                    .accept_btn, .decline_btn {
                        height: 4.2rem;
                        width: 100%;
                        h3 {
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}