@import "@/styles/imports";

.section {
	margin-bottom: 8rem;
	width: 100%;
	.section_container {
		padding: 0 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		transition: all 400ms ease-in-out;
		.image_and_text {
			display: flex;
			align-items: flex-start;
			gap: 3.2rem;
			// transition: all 400ms ease-in-out;
			.image,
			.image_mob {
				position: relative;
				transition: all 400ms ease-in-out;
				// width: 60%;
				width: 100%;
				height: 35rem;
				margin-block: 3.6rem;
				overflow: hidden;
				flex-shrink: 0;
				& > img {
					object-fit: cover;
				}
			}
			.image_mob {
				display: none;
				& > img {
					object-fit: cover;
				}
			}
			&[data-image = "true"] {
				.image {
					height: 22rem;
					margin-block: 0;
					& > img {
						object-fit: contain;
					}
				}
			}
		}
		.text, .text_ {
			h3, span {
				font-size: 1.8rem;
				line-height: 2.7rem;
				font-weight: 400;
				font-family: $font-gothic;
			}
			span {
				color: #fff;
			}
		}
		.text_ {
			display: none;
		}
	}
	.divider {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
		margin-top: 8rem;
	}
	@include screenMax("tablet") {
		margin-bottom: 6rem;
		.section_container {
			padding: 2rem;
			.grid {
				overflow-x: scroll;
			}
			.image_and_text {
				gap: 2.4rem;
				flex-direction: column;
				.image_mob {
					width: 100%;
					height: 30rem;
					display: block;
					margin-block: 2.4rem;
					& > img {
						border-radius: 1.6rem;
					}
				}
				.image {
					display: none;
				}
			}
			.text {
				h3, span {
					font-size: 2.4rem;
					line-height: 3.2rem;
				}
			}
		}
		.divider {
			margin-top: 6rem;
		}
	}

	@include screenMax('mobile') {
		margin-bottom: 4rem;
		.section_container {
			.image_and_text {
				gap: 1.6rem;
				flex-direction: column;
				.image_mob {
					margin-block: 1.6rem;
				}
			}
			.text, .text_ {
				h3, span {
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
			}
			.text_ {
				display: block;
			}
			.text {
				.h3, br {
					display: none;
				}
			}
		}
		.divider {
			margin-top: 4rem;
		}
	}
}
