@import '@/styles/imports';

.accordion_container {
	width: 100%;
	min-height: 6rem;
	padding: 1.4rem 2.4rem 0;
	border: 0.1rem solid #D8D8D8;
	&[data-border='true'] {
		border-top: none!important;
	}
	.accordion_header_container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		.accordion_header {
			display: flex;
			align-items: center;
			gap: 1.2rem;
			h3 {
				color: #FFF;
				font-family: $font;
				font-size: 2rem;
				line-height: 2.4rem;
			}
			h1 {
				color: #FFF;
				font-family: $font;
				font-size: 1.8rem;
				line-height: 2.7rem;
				font-weight: 700;
			}
		}
		.accordion_icon {
			cursor: pointer;
			flex-shrink: 0;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			& > h6 {
				font-size: 1.6rem;
				line-height: 2.4rem;
				font-family: 500;
				color: #0BB55D;
			}
		}
	}
	.review_body {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
		background: rgba(0, 0, 0, 0.1);
		margin-bottom: 1.6rem;
		& > p {
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #FFF;
			& > i {
				font-style: italic!important;
			}
		}
	}
	&[data-active='true'] {
		background: transparent;
		min-height: 8rem;
		transition: $all-transition;
		.accordion_header_container {
			margin-bottom: 2.4rem;
			.accordion_icon {
				h3 {
					margin-bottom: 0.25rem;
					font-size: 2.4rem;
					line-height: 2.4rem;
				}
			}
		}
		.review_body {
			max-height: 99rem;
			transition: max-height 1s ease-in;
		}
	}

	@include screenMax('tablet') {
		padding: 1.2rem 2rem 0;
		.accordion_header_container {
			.accordion_header {
				gap: 0.8rem;
				h3, h1 {
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
			}
			.accordion_icon {
				& > h6 {
					font-size: 1.4rem;
					line-height: 2.4rem;
				}
			}
		}
		.review_body {
			margin-bottom: 1.2rem;
			& > p {
				font-size: 1.4rem;
				line-height: 2.4rem;
			}
		}
	}

	@include screenMax('mobile') {
		padding: 1.2rem 1.6rem 0;
		min-height: 5rem;
		.accordion_header_container {
			.accordion_header {
				h3, h1 {
					font-size: 1.4rem;
					line-height: 2.4rem;
				}
			}
			.accordion_icon {
				& > h6 {
					font-size: 1.4rem;
					line-height: 2.4rem;
				}
			}
		}
		.review_body {
			margin-bottom: 0.8rem;
			& > p {
				font-size: 1.2rem;
				line-height: 1.6rem;
			}
		}
		&[data-active='true'] {
			.accordion_header_container {
				margin-bottom: 0.8rem;
			}
		}
	}
}
