@import "@/styles/imports";

.newsletter_section {
    width: 100%;
	margin-bottom: 8rem;
    min-height: 65vh;
    .newsletter_container {
        max-width: $max-width;
        margin: 0 auto;
		padding: 3.6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .newsletter_content {
            width: 95%;
            margin-inline: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 14rem;
            .image {
                width: 100%;
                position: relative;
                height: 45rem;
                & > img {
                    object-fit: cover;
                    border-radius: 1rem;
                }
            }
            .newsletter_text_and_ctas {
                width: 100%;
                h1 {
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                    font-family: $font-gothic-bold;
                    margin-bottom: 10rem;
                    color: #00BF4D;
                }
                h3 {
                    color: #FFF;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
                .ctas {
                    width: 100%;
                    flex-direction: column;
                    display: flex;
                    gap: 1.6rem;
                    .input_field {
                        border: 0.1rem solid rgba($col-white, 0.1)!important;
                        border-radius: 1rem!important;
                        background: #FFF!important;
                        color: #000!important;
                        &::placeholder {
                            color: #000!important;

                        }
                    }
                }
                .subscribe_btn {
                    width: 15rem;
                    margin-top: 3.2rem;
                    border-radius: 1rem;
                    background: #00BF4D;
                    height: 4.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        font-size: 1.6rem;
                        color: #FFF;
                        font-family: $font;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    @include screenMax("tablet") {
        margin-bottom: 6rem;
        .newsletter_container {
            padding: 2.4rem;
            .newsletter_content {
                gap: 7rem;
                .image {
                    height: 35rem;
                    & > img {
                        object-fit: contain;
                    }
                }
                .newsletter_text_and_ctas {
                    h1 {
                        font-size: 2rem;
                        line-height: 2.8rem;
                    }
                    h3 {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                    .ctas {
                        gap: 1rem;
                    }
                    .subscribe_btn {
                        margin-top: 2.4rem;
                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    @include screenMax("mobile") {
        margin-bottom: 8rem;
        min-height: 70vh;
        .newsletter_container {
            padding: 1.6rem;
            .newsletter_content {
                width: 100%;
                grid-template-columns: 1fr;
                gap: 2.4rem;
                .image {
                    height: 28rem;
                }
                .newsletter_text_and_ctas {
                    width: 100%;
                    h1 {
                        font-size: 1.8rem;
                        line-height: 2.7rem;
                        margin-bottom: 2.4rem;
                    }
                    h3 {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }
                    .ctas {
                        grid-template-columns: 1fr;
                        gap: 1.6rem;
                    }
                    .subscribe_btn {
                        width: 13rem;
                        margin-top: 1.6rem;
                        height: 4rem;
                        p {
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}