@import "@/styles/imports";

.section {
	width: 100%;
	display: none;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		overflow-x: hidden;
		.row {
			width: 100%;
			@include flex(space-between, center);
		}
		.text {
			h3 {
				font-size: 3rem;
				line-height: 3.3rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				color: #fff;
			}
		}
		.slider_container {
			width: 100%;
			position: relative;
			margin-top: 3.6rem;
			display: flex;
			align-items: center;
			gap: 3.2rem;
			padding-block: 3.2rem;
			background-color: rgba(#BEF2bE, 0.05);
		}
	}
	.divider {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}
	@include screenMax("tablet") {
		.section_container {
			padding: 2rem;
			.text {
				h2 {
					font-size: 6rem;
					line-height: 7.3rem;
				}
			}
			.slider_container {
				padding-block: 2.4rem;
				margin-top: 2.4rem;
				overflow-x: hidden;
				@include noScrollBar();
			}
		}
	}
	@include screenMax("mobile") {
		.section_container {
			padding: 1.6rem;
			.row {
				flex-wrap: nowrap;
			}
			.text {
				h2 {
					font-size: 4.8rem;
					line-height: 5.6rem;
				}
				h3 {
					font-size: 2rem;
					line-height: 2.8rem;
				}
			}
			.slider_container {
				gap: 2.4rem;
				padding-block: 1.6rem;
				margin-top: 1.6rem;
				flex-direction: column;
				overflow-x: scroll;
			}
		}
	}
}
