@import "@/styles/imports";

.section {
	width: 100%;
	margin-bottom: 8rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		.body {
			// border: 0.2rem solid #FFFFFF1A;
			// border-radius: 1.6rem;
			// border-radius: 1.6rem;
			background: #000;
			padding: 2.4rem;
			.details {
				margin-bottom: 3.2rem;
				width: 100%;
				// display: flex;
				// align-items: center;
				// justify-content: space-between;
				.text {
                    width: 50%;
                    margin-bottom: 8rem;
					h3, span {
						font-size: 2.4rem;
						line-height: 3.2rem;
						font-weight: 700;
						font-family: $font-gothic-bold;
                        margin-bottom: 2.4rem;
					}
					span {
						color: #fff;
					}
					p {
						font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: #FFF;
                        opacity: 0.8;
					}
				}
				.button {
					min-width: 20rem;
					height: 5rem;
					& > p {
						font-size: 1.6rem!important;
						font-weight: 600!important;
					}
				}
			}
		}
	}
	.divider {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
        margin-top: 8rem;
	}

	@include screenMax("tablet") {
		margin-bottom: 6rem;
		.section_container {
			padding: 2rem;
			.card {
				grid-template-columns: 100%;
				padding: 2rem;
				.logo_row {
					gap: 0.7rem;
					.logo_container {
						height: 8.3rem;
						.logo {
							position: relative;
							width: 3rem;
							height: 3rem;
						}
						&:nth-child(2) {
							.logo {
								width: 5.9rem;
								height: 3.4rem;
							}
						}
						&:nth-child(3) {
							.logo {
								width: 6.3rem;
								height: 6.3rem;
							}
						}
						&:nth-child(4) {
							.logo {
								width: 7.5rem;
								height: 7.5rem;
							}
						}
					}
				}
			}
			.body {
				padding: 1.6rem;
				.details {
					margin-bottom: 2.4rem;
					.text {
                        margin-bottom: 6rem;
						width: 75%;
						h3, span {
							font-size: 2.4rem;
							line-height: 3.2rem;
						}
					}
				}
			}
		}
        .divider {
            margin-top: 6rem;
        }
	}

	@include screenMax('mobile') {
		margin-bottom: 4rem;
		.section_container {
			padding: 1.6rem;
			.body {
				padding: 1.6rem 0.8rem;
				.details {
                    width: 100%;
					.text {
                        margin-bottom: 3.2rem;
						width: 100%;
						h3, span {
							font-size: 2rem;
							line-height: 2.8rem;
						}
                        p {
                            font-size: 1.4rem;
                            line-height: 2rem;
                        }
					}
					.button {
						height: 4rem;
						& > p {
							font-size: 1.4rem!important;
						}
					}
				}
			}
		}
        .divider {
            margin-top: 4rem;
        }
	}
}