@import "@/styles/imports";

.section {
	margin-top: 7rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		.text {
			margin-top: 3.2rem;
			h3,
			span {
				font-size: 3rem;
				line-height: 3.3rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
			}
			span {
				color: #FFF;
			}
			p {
				margin-top: 1.2rem;
				font-weight: 500;
			}
		}
		.card,
		.large_card {
			width: 100%;
			background-color: rgba($col-white, 0.05);
			border-radius: 1.5rem;
			overflow: hidden;
			padding: 3.2rem;
			padding-top: 7.9rem;
			position: relative;
			margin-top: 3.6rem;
			height: 25rem;
			border: 0.1rem solid rgba($col-white, 0.1);
			.details {
				max-width: 68rem;
				h3,
				h2 {
					@extend %title-50;
					font-weight: 700;
					font-family: $font-gothic-bold;
					color: #fff;
					margin-bottom: 2rem;
				}
				p {
					font-size: 2rem;
					line-height: 2.8rem;
					font-weight: 500;
				}
				h3 {
					font-size: 3rem;
					line-height: 3.3rem;
				}
			}
			.button {
				margin-top: 3.2rem;
				justify-self: flex-start;
				& > p {
					font-size: 1.6rem!important;
					font-weight: 600!important;
				}
			}
			.grad {
				background-color: #13361b;
				width: 36.6rem;
				height: 36.6rem;
				filter: blur(120px);
				position: absolute;
				right: 0;
				z-index: -1;
			}
		}
		.large_card {
			padding-top: 3.2rem;
			height: auto;
			form {
				width: 100%;
				margin-top: 3.2rem;
				@include grid(repeat(2, 1fr), 0.8rem, 0.8rem);
			}
			.textarea {
				grid-column: span 2;
				height: 26.6rem;
			}
		}
	}
	.divider,
	.divider1 {
		width: 100%;
		height: 2rem;
		background-color: #bef2be;
	}
	.divider1 {
		background-color: rgba(255, 255, 255, 0.05);
	}
	@include screenMax("tablet") {
		margin-top: 4rem;
		.section_container {
			padding: 2.4rem;
			.text {
				margin-top: 2.4rem;
				h3, span {
					font-size: 2.4rem;
					line-height: 3.2rem;
				}
			}
			.card,
			.large_card {
				padding: 2.4rem;
				width: 100%;
				.details {
					max-width: 60rem;
					h3, h2 {
						font-size: 2.4rem;
						line-height: 3.2rem;
						margin-bottom: 1.6rem;
					}
					p {
						font-size: 1.8rem;
						line-height: 2.4rem;
					}
				}
				form {
					width: 100%;
				}
				.button {
					grid-column: span 2;
					margin-top: 2.4rem;
				}
				.grad {
					display: none;
				}
			}
		}
	}

	@include screenMax("mobile") {
		margin-top: 3.2rem;
		.section_container {
			padding: 1.6rem;
			.text {
				margin-top: 1.6rem;
				h3, span {
					font-size: 1.8rem;
					line-height: 2.4rem;
				}
			}
			.card, .large_card {
				padding: 1.6rem;
				.details {
					width: 100%;
					h3, h2 {
						font-size: 1.8rem;
						line-height: 2.4rem;
					}
					p {
						font-size: 1.6rem;
					}
				}
				form {
					display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
					.textarea {
						height: 16rem;
					}
				}
			}
		}
	}
}
