@import "@/styles/imports";

.search_form {
  width: 100%;
  border: 0.1rem solid rgb(255, 255, 255, 0.2);
  border-radius: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 2.4rem;
  min-width: 30rem;
  background: rgb(255, 255, 255, 0.1);
  // box-shadow: 0 0.1rem 0.2rem 0 rgb(0 0 0 / 0.05);
  // transition: border-radius 0.3s ease;
}

.search_input {
  width: 100%;
  border: none;
  flex: 1;
  font-size: 1.4rem;
  outline: none;
  background: none;
}

.search_button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}

@include screenMax("sm-desktop") {
  .search_form {
    min-width: 18rem;
  }
}

@include screenMax("mobile") {
  .search_form {
    width: 100%;
    min-width: 100%;
    height: 4rem;
    margin: auto;
    border-radius: 50rem;
    transition: all 0.3s ease;
    padding: 0.8rem 1.2rem;
  }
  .search_input {
    font-size: 1.2rem;
  }
  .search_button {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.8rem;
   
  }
  .mobile_expanded {
    min-width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.3s ease;
  }
}
