@import "@/styles/imports";

.modal_body {
    width: 100%!important;
    margin-inline: auto!important;
    .modal_content_body {
        width: 100%;
        padding: 4.8rem 3.2rem;
        .modal_header {
            display: flex;
            align-items: center;
            margin-bottom: 2.4rem;
            justify-content: space-between;
            h1 {
                font-size: 2.4rem;
                line-height: 3.2rem;
                font-weight: 700;
                color: #FFF;
            }
            .close_icon {
                cursor: pointer;
                width: 3.6rem;
                height: 3.6rem;
                // display: flex;
                display: none;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                background: rgba(255, 255, 255, 0.75);
                border-radius: 50%;
                border: 0.1rem solid rgba(255, 255, 255, 0.1);
                h3 {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    color: #000;
                    font-weight: 700;
                }
            }
        }
        .modal_content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
            .text {
                width: 55%;
                margin-bottom: 1.6rem;
                h3, span {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    font-weight: 400;
                    color: #FFF;
                    a {
                        cursor: pointer;
                        text-decoration: underline;
                        color: rgb(88, 109, 244);
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                    }
                }
            }
            .ctas {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                margin-top: 4rem;
                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;
                    .accept_btn {
                        width: 22rem;
                        height: 5.6rem;
                        background: #0BB55D;
                        border-radius: 10rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        border: 0!important;
                        h3 {
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                            color: #FFF;
                            margin: 0!important;
                        }
                    }
                    .decline_btn {
                        background-color: rgba(255, 255, 255, 0.1);
                        border-radius: 10rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 24rem;
                        height: 5.6rem;
                        border: 0.2rem solid rgba(255, 255, 255, 0.2);
                        cursor: pointer;
                        h3 {
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                            color: #FFF;
                            margin: 0!important;
                        }
                    }
                }
                h4 {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    color: #FFF;
                    width: -webkit-fill-available;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    
    }

    @include screenMax("tablet") {
        width: 100%!important;
        .modal_content_body {
            padding: 2.4rem;
            .modal_header {
                h1 {
                    font-size: 2.2rem;
                    line-height: 3rem;
                }
            }
            .modal_content {
                margin-bottom: 4rem;
                flex-direction: column;
                justify-content: unset;
                .text {
                    width: 100%;
                    margin-bottom: 0;
                    h3, span {
                        font-size: 1.4rem;
                        line-height: 2rem;
                        a {
                            font-size: 1.4rem;
                            line-height: 2rem;
                        }
                    }
                }
                .ctas {
                    margin-top: 2.4rem;
                    width: 100%;
                    justify-content: space-between;
                    h4 {
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                    }
                    .buttons {
                        .accept_btn, .decline_btn {
                            height: 5rem;
                            h3 {
                                font-size: 1.4rem;
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @include screenMax("mobile") {
        width: 100%!important;
        .modal_content_body {
            padding: 2rem;
            .modal_header {
                h1 {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
            }
            .modal_content {
                width: 100%;
                margin-bottom: 3.6rem;
                flex-direction: column;
                .text {
                    width: 100%;
                    h3, span {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        a {
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                        }
                    }
                }
                .ctas {
                    margin-top: 2.4rem;
                    flex-direction: column;
                    align-items: flex-start;
                    h4 {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }
                    .buttons {
                        width: 100%;
                        .accept_btn, .decline_btn {
                            height: 4.2rem;
                            width: 100%;
                            h3 {
                                font-size: 1.2rem;
                                line-height: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }
}