@import "@/styles/imports";

.green_section {
    width: 100%;
    position: relative;
    .green_container {
        width: 100%;
        height: 35rem;
        position: relative;
        & > img {
            object-fit: cover;
        }
    }
    .collaborators_container {
        max-width: $max-width;
        padding: 3.6rem;
        position: relative;
        overflow: hidden;
        margin: 11rem auto;
        .collaborators_content {
            max-width: 75%;
            margin-inline: auto;
            h3 {
                text-align: center;
                text-transform: uppercase;
                color: #FFF;
                font-size: 1.2rem;
                line-height: 1.6rem;
                width: fit-content;
                margin: 0 auto;
            }
            .collaborators {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 3.2rem;
                margin-top: 5.6rem;
                .collaborator {
                    display: flex;
                    align-items: center;
                    gap: 1.6rem;
                    a {
                        .icon {
                            position: relative;
                            height: 7.3rem;
                            flex-shrink: 0;
                            & > img {
                                object-fit: cover;
                            }
                            &[data-index = "0"] {
                                width: 25rem;
                            }
                            &[data-index = "1"] {
                                width: 32rem;
                            }
                            &[data-index = "2"] {
                                width: 23.1rem;
                            }
                        }
                    }
                    .details {
                        display: none;
                        h2 {
                            font-family: $font-gothic-bold;
                            font-size: 2rem;
                            line-height: 2.8rem;
                            color: #FFF;
                            margin-bottom: 0.4rem;
                        }
                        p {
                            color: #D2D3D3;
                            font-size: 1.4rem;
                            line-height: 2rem;
                            font-family: $font-gothic;
                            &[data-index = "1"] {
                                width: 85%;
                            }
                            &[data-index = "2"] {
                                width: 70%;
                            }
                        }
                    }

                }
            }
        }
    }
    .divider {
        width: 100vw;
        height: 0.1rem;
        margin: 2.4rem 0;
        background: rgba($col-white, 0.2);
    }
    @include screenMax("tablet") {
        .green_container {
            height: 32rem;
        }
        .collaborators_container {
            margin: 5.6rem auto;
            padding: 2.4rem;
            .collaborators_content {
                max-width: 95%;
                .collaborators {
                    margin-top: 3.6rem;
                    .collaborator {
                        gap: 1rem;
                        a {
                            .icon {
                                height: 6.4rem;
                                &[data-index = "0"] {
                                    width: 23rem;
                                }
                                &[data-index = "1"] {
                                    width: 30rem;
                                }
                                &[data-index = "2"] {
                                    width: 21rem;
                                }
                            }
                        }
                        .details {
                            h2 {
                                font-size: 1.8rem;
                                line-height: 2.7rem;
                            }
                            p {
                                font-size: 1.2rem;
                                line-height: 1.6rem;
                                &[data-index = "1"] {
                                    width: 95%;
                                }
                                &[data-index = "2"] {
                                    width: 80%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include screenMax("mobile") {
        .green_container {
            height: 20rem;
        }
        .collaborators_container {
            margin: 3.6rem auto;
            padding: 1.6rem;
            .collaborators_content {
                max-width: 99%;
                .collaborators {
                    margin-top: 2.4rem;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 2.4rem;
                    .collaborator {
                        gap: 0.8rem;
                        height: 5.6rem;
                        a {
                            .icon {
                                & > img {
                                    object-fit: contain!important;
                                }
                                &[data-index = "0"] {
                                    width: 14rem;
                                }
                                &[data-index = "1"] {
                                    width: 18rem;
                                }
                                &[data-index = "2"] {
                                    width: 14rem;
                                }
                            }
                        }
                        .details {
                            h2 {
                                font-size: 1.6rem;
                                line-height: 2.4rem;
                            }
                            p {
                                font-size: 1rem;
                                line-height: 1.4rem;
                                &[data-index = "1"] {
                                    width: 95%;
                                }
                                &[data-index = "2"] {
                                    width: 85%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}