@import "@/styles/imports";

.section, .text_section {
	width: 100%;
	margin-bottom: 8rem;
	.section_container, .text_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		width: 100%;
		@include flex();
		flex-direction: column;
		gap: 3.6rem;
		.card_container {
			position: sticky;
			width: 100%;
			height: 60rem;
			max-width: $max-width;
			margin-inline: auto;
			background: #000;
			.card {
				background-color: rgba($col-white, 0.1);
				border-radius: 1.5rem;
				overflow: hidden;
				@include grid(repeat(2, 50%), 0);
				width: 100%;
				position: relative;
				.details {
					padding: 4.8rem;
					@include flex();
					flex-direction: column;
					justify-content: space-between;
				}
				.image {
					position: relative;
					width: 100%;
					height: 57.5rem;
				}
			}
		}
		.text_ {
			max-width: 80rem;
			margin-inline: auto;
			.text_wrapper {
				max-width: 80rem;
				text-align: center;
				margin: 0 auto;
			}
			h3,
			span {
				font-size: 2.4rem;
				line-height: 3.2rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				text-align: center;
				color: #FFF;
			}
			span {
				color: #FFF;
			}
			p {
				margin-top: 1.2rem;
			}
		}
		.row {
			@include flex(flex-start);
			gap: 1.2rem;
			.line {
				width: 4rem;
				height: 0.3rem;
				&:nth-child(1) {
					background-color: #bef2be;
				}
				&:nth-child(2) {
					background-color: #76df93;
				}
				&:nth-child(3) {
					background-color: #00be4d;
				}
				&:nth-child(4) {
					background-color: #76df93;
				}
				&:nth-child(5) {
					background-color: #ffffff;
				}
				&:nth-child(6) {
					background-color: #00be4d;
				}
				&:nth-child(7) {
					background-color: #bef2be;
				}
				&:nth-child(8) {
					background-color: #76df93;
				}
				&:nth-child(9) {
					background-color: #00be4d;
				}
				&:nth-child(10) {
					background-color: #76df93;
				}
				&:nth-child(11) {
					background-color: #ffffff;
				}
				&:nth-child(12) {
					background-color: #00be4d;
				}
			}
		}
		.long_card {
			width: 100%;
			background-color: rgba($col-white, 0.1);
			border-radius: 1.6rem;
			overflow: hidden;
			padding: 3.2rem;
			position: relative;
			margin-top: 2rem;
			.grid_row {
				@include grid(repeat(5, 1fr), 3.6rem);
				@include noScrollBar();
				margin-block: 2rem 3.2rem;
				.small_card {
					.small_card_text {
						h3 {
							margin-bottom: 1.6rem;
							font-size: 2.4rem;
							line-height: 3.2rem;
							font-family: $font-gothic-bold;
							color: #FFF;
						}
						p {
							font-size: 1.6rem;
							line-height: 2.4rem;
						}
					}
				}
			}
		}
		.text {
			h3, span {
				font-size: 2.4rem;
				line-height: 3.2rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
			}
			span {
				color: #fff;
			}
			p {
				margin-top: 1.6rem;
				font-size: 1.6rem;
				line-height: 2.4rem;
				color: #fff;
			}
		}
	}
	.text_container {
		padding: 7rem 3.6rem 3.6rem;
	}
	.divider, .divider_ {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
		margin-top: 8rem;
	}
	.divider_ {
		margin-bottom: 8rem;
	}

	@include screenMax("tablet") {
		margin-bottom: 6rem;
		.section_container, .text_container {
			padding: 2.4rem;
			gap: 1.8rem;
			.text_ {
				max-width: 85%;
				.text_wrapper {
					max-width: 85%;
				}
				h3, span {
					font-size: 1.8rem;
					line-height: 2.7rem;
				}
			}
			.card_container {
				height: auto;
				.card {
					grid-template-columns: 100%;
					.details {
						padding: 3.2rem;
					}
					.image {
						height: 30rem;
						& > img {
							object-fit: cover;
						}
					}
					.row {
						display: none;
					}
				}
			}
			.text {
				h3, span {
					font-size: 2rem;
					line-height: 2.8rem;
				}
				p {
					margin-top: 1.4rem;
				}
			}
			.grad,
			.grad2 {
				display: none;
			}
			.long_card {
				padding: 2.4rem;
				margin-top: 1.6rem;
				.grid_row {
					@include grid(repeat(5, 1fr), 2.4rem);
					.small_card {
						.small_card_text {
							h3 {
								margin-bottom: 1.4rem;
								font-size: 2.2rem!important;
							}
							p {
								font-size: 1.4rem!important;
								line-height: 2rem!important;
							}
						}
					}
				}
				.row {
					flex-wrap: nowrap;
				}
			}
		}
		.text_container {
			padding: 5rem 2.4rem 2.4rem;
		}
		.divider, .divider_ {
			margin-top: 6rem;
		}
		.divider_ {
			margin-bottom: 6rem;
		}
	}

	@include screenMax('mobile') {
		margin-bottom: 4rem;
		.section_container, .text_container {
			padding: 1.6rem;
			gap: 0.8rem;
			.text_ {
				max-width: 95%;
				.text_wrapper {
					max-width: 95%;
				}
				h3, span {
					font-size: 1.4rem;
					line-height: 2rem;
					width: 100%;
				}
			}
			.card_container {
				.card {
					margin-bottom: 3.2rem;
					row-gap: 0!important;
					.details {
						padding: 2.4rem;
					}
					.image {
						height: 25rem;
					}
				}
			}
			.text {
				h3, span {
					font-size: 1.8rem;
					line-height: 2.4rem;
				}
				p {
					margin-top: 0.8rem;
					font-size: 1.2rem;
					line-height: 1.6rem;
				}
			}
			.long_card {
				padding: 1.6rem;
				.grid_row {
					@include grid(repeat(2, 1fr), 1.6rem);
					.small_card {
						width: 100%;
						.small_card_text {
							h3 {
								margin-bottom: 0.8rem;
								font-size: 1.8rem!important;
								line-height: 2.4rem!important;
								font-weight: 600!important;
							}
							p {
								font-size: 1.2rem!important;
								line-height: 1.6rem!important;
							}
						}
					}
				}
			}
		}
		.text_container {
			padding: 4rem 1.6rem 1.6rem;
		}
		.divider, .divider_ {
			margin-top: 4rem;
		}
		.divider_ {
			margin-bottom: 4rem;
		}
	}
}
