@import "@/styles/imports";

.section {
	background-color: rgba($col-white, 0.01);
	margin-block: 0 8rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		.text {
			h2 {
				font-size: 4rem;
				line-height: 5.6rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				color: #FFF;
				margin-bottom: 2.4rem;
			}
			h3,
			span {
				font-size: 2rem;
				line-height: 2.8rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				width: 75%;
			}
			span {
				color: #FFF;
			}
			p {
				margin-top: 1.2rem;
				font-size: 1.6rem;
			}
		}
		.rows {
			@include grid(repeat(2, 1fr), 3.6rem);
			width: 100%;
			.large_row {
				position: relative;
				width: 100%;
			}
			.small_row {
				position: relative;
				width: 100%;
			}
		}
	}
	.divider {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
	}

	@include screenMax("tablet") {
		margin-block: 0 6rem;
		.section_container {
			padding-inline: 1.6rem;
			.text {
				h2 {
					font-size: 3.2rem;
					line-height: 4rem;
					margin-bottom: 1.6rem;
				}
				h3, span {
					font-size: 1.8rem;
					line-height: 2.7rem;
					width: 80%;
				}
			}
			.rows {
				@include grid(repeat(1, 1fr), 2.4rem);
			}
		}
	}

	@include screenMax('mobile') {
		margin-block: 0 4rem;
		.section_container {
			padding: 1.6rem;
			.text {
				h2 {
					font-size: 2.4rem;
					line-height: 3.2rem;
					margin-bottom: 1rem;
				}
				h3, span {
					font-size: 1.4rem;
					line-height: 2rem;
					width: 100%;
				}
				p {
					font-size: 1.4rem;
				}
			}
			.rows {
				@include grid(repeat(2, 1fr), 2rem);
			}
		}
	}
}
