@import "@/styles/imports";

.section {
	background-color: rgba($col-white, 0.01);
	margin-block: 8rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		@include grid(repeat(2, 1fr), 3.6rem);
		.text {
			h2 {
				font-size: 7.2rem;
				line-height: 8.8rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				color: #FFF;
				margin-bottom: 2.4rem;
			}
			h3,
			span {
				font-size: 2.8rem;
				line-height: 3.6rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
			}
			span {
				color: #FFF;
			}
			p {
				margin-top: 1.2rem;
				font-size: 1.6rem;
			}
		}
		.large_row {
			position: relative;
		}
		.small_row {
			position: relative;
		}
	}
	.divider {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}
	@include screenMax("tablet") {
		margin-block: 6rem;
		.section_container {
			grid-template-columns: 100%;
			padding-inline: 1.6rem;
			.text {
				h2 {
					font-size: 3.6rem;
					line-height: 4.4rem;
					margin-bottom: 1.6rem;
				}
				h3, span {
					font-size: 2rem;
					line-height: 2.8rem;
				}
			}
		}
	}

	@include screenMax('mobile') {
		margin-block: 4rem;
		.section_container {
			padding: 1.6rem;
			.text {
				h2 {
					font-size: 2.4rem;
					line-height: 3.2rem;
					margin-bottom: 1rem;
				}
				h3, span {
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
				p {
					font-size: 1.4rem;
				}
			}
		}
	}
}
