@import "@/styles/imports";

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: #FFF;
	background-color: rgba(0, 0, 0, 0.95);
	z-index: 10;
	@include flex(center, center);
}
.icon_container {
	position: absolute;
	.icon {
		position: relative;
		width: 5rem;
		height: 5rem;
		@include screenMax("mobile") {
			width: 3.5rem;
			height: 3.5rem;
		}
	}
}
.loader {
	display: block;
	position: relative;
	width: 12.5rem;
	height: 12.5rem;
	border-radius: 50%;
	border: 0.4rem solid transparent;
	border-top-color: #0BB55D;
	// border-top-color: #0F3D25;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;

	// @include screenMax('tablet') {
	// 	border: 0.5rem solid transparent;
	// }
	@include screenMax('mobile') {
		width: 10rem;
		height: 10rem;
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}