@import "@/styles/imports";

.header {
	position: fixed;
	top: 0;
	width: 100%;
	transition: $all-transition;
	z-index: 9;
	background-color: #000;
	.container {
		padding: 3.6rem;
		@include flex(space-between, center, nowrap);
		// width: 100%;
		max-width: $max-width;
		margin-inline: auto;
		@include screenMin("desktop") {
			padding-inline: 3.6rem;
		}
        a {
            flex-shrink: 0;
            .header_logoContainer {
                transition: $all-transition;
                position: relative;
                width: 21rem;
                height: 2.8rem;
                flex-shrink: 0;
            }
        }
        .header_nav {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 2rem;
            .header_navList {
                @include flex(space-between, center, nowrap);
                gap: 3.6rem;
                padding: 0.5rem;
                a {
                    padding: 1rem;
                    h3 {
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                        color: #FFF;
                        font-weight: 700;
                        font-family: $font;
                        text-transform: uppercase;
                    }
                    &:hover {
                        text-decoration: underline!important;
                    }
                }
            }
        }
        .ctas {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            margin-left: auto;
            a {
                .register_btn, .media_btn {
                    background: #00BF4D;
                    padding: 1.6rem 2.4rem;
                    border-radius: 1rem;
                    h3 {
                        color: #FFF;
                        text-transform: uppercase;
                        font-family: $font;
                        font-weight: 500;
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                    &:hover {
                        background: #0e5e27;
                    }
                }
            }
            .register_btn {
                background: #00BF4D;
                padding: 1.6rem 2.4rem;
                border-radius: 1rem;
                cursor: pointer;
                transition: all 300ms ease-in-out;
                h3 {
                    color: #FFF;
                    text-transform: uppercase;
                    font-family: $font;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
                &:hover {
                    background: #0e5e27;
                }
            }
        }
	}

	@include screenMax("tablet") {
        .container {
            padding: 2.4rem;
            a {
                .header_logoContainer {
                    height: 4.8rem;
                }
            }
            .header_nav {
                gap: 1.6rem;
                display: none;
                .header_navList {
                    gap: 3.2rem;
                    a {
                        h3 {
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                        }
                    }
                }
            }
            .ctas {
                a {
                    .register_btn, .media_btn {
                        padding: 1.2rem 2rem;
                    }
                }
                .register_btn {
                    padding: 1.2rem 2rem;
                }
            }
        }
	}

	@include screenMax("mobile") {
		.container {
			overflow: hidden;
			padding: 1.6rem;
            a {
                .header_logoContainer {
                    width: 7rem;
                    height: 3.6rem;
                }
            }
            .header_nav {
                display: none;
                width: 100%;
                .header_navList {
                    display: block;
                    padding: 0;
                    margin: 0;
                    border-radius: unset;
                    overflow: unset;
                    .button_link {
                        width: 100%;
                        background: transparent;
                    }
                }
            }
            .ctas {
                margin-left: auto;
                a {
                    .register_btn, .media_btn {
                        padding: 1rem;
                        h3 {
                            font-size: 1rem;
                            line-height: 1.4rem;
                            text-transform: capitalize;
                        }
                    }
                }
                .register_btn {
                    padding: 1rem;
                    h3 {
                        font-size: 1rem;
                        line-height: 1.4rem;
                        text-transform: capitalize;
                    }
                }
            }
		}
	}
}