@import "@/styles/imports";

.section {
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		.body {
			border-radius: 1.6rem;
			background: rgba(255, 255, 255, 0.1);
			padding: 2.4rem;
			.details {
				margin-bottom: 6rem;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.text {
					h3,
					span {
						font-size: 3rem;
						line-height: 3.3rem;
						font-weight: 700;
						font-family: $font-gothic-bold;
					}
					span {
						color: #fff;
					}
					p {
						margin-top: 1.2rem;
						font-weight: 500;
					}
				}
				.button {
					min-width: 15rem;
					height: 5rem;
					& > p {
						font-size: 1.6rem!important;
						font-weight: 600!important;
					}
				}
			}
		}
	}
	.divider {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}
	@include screenMax("tablet") {
		.section_container {
			padding: 2rem;
			.card {
				grid-template-columns: 100%;
				padding: 2rem;
				.logo_row {
					gap: 0.7rem;
					.logo_container {
						height: 8.3rem;
						.logo {
							position: relative;
							width: 3rem;
							height: 3rem;
						}
						&:nth-child(2) {
							.logo {
								width: 5.9rem;
								height: 3.4rem;
							}
						}
						&:nth-child(3) {
							.logo {
								width: 6.3rem;
								height: 6.3rem;
							}
						}
						&:nth-child(4) {
							.logo {
								width: 7.5rem;
								height: 7.5rem;
							}
						}
					}
				}
			}
		}
	}
}
