@import "@/styles/imports";

.section {
	width: 100%;
	margin-bottom: 2rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		overflow: hidden;
		.body {
			border: 0.2rem solid rgba(255, 255, 255, 0.1);
			border-radius: 1.6rem;
			background: rgba(255, 255, 255, 0.1);
			max-height: 47rem;
			padding: 2.4rem;
			flex-direction: column;
			display: flex;
			.details {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.text {
					h3, span {
						font-size: 2.4rem;
						line-height: 3.2rem;
						font-weight: 700;
						font-family: $font-gothic-bold;
					}
					span {
						color: #fff;
					}
					p {
						margin-top: 1.2rem;
						font-weight: 500;
					}
				}
			}
			.image_and_logo {
				position: relative;
				align-items: flex-end;
				align-self: flex-end;
				display: flex;
				gap: 2.4rem;
				top: -35rem;
				transition: all 600ms ease-in-out;
				translate: 0% 0%;
				.top_image {
					position: relative;
					width: 40rem;
					height: 32rem;
					& > img {
						object-fit: cover;
						object-position: 0 0;
					}
				}
				.partners_logo {
					width: 50%;
					@include grid(repeat(4, 1fr), 1.6rem);
					.partner_logo_card {
						width: 15rem;
						flex-shrink: 0;
						background: rgba(255, 255, 255, 0.1);
						border-radius: 1rem;
						height: 17.7rem;
						display: flex;
						align-items: center;
						justify-content: center;
						.partner_logo {
							position: relative;
							// & > img {
							// 	object-fit: cover;
							// }
							&[data-index = "0"] {
								width: 6.4rem;
								height: 6.4rem;
							}
							&[data-index = "1"] {
								width: 12.6rem;
								height: 7.3rem;
							}
							&[data-index = "2"] {
								width: 13.4rem;
								height: 13.4rem;
							}
							&[data-index = "3"] {
								width: 16rem;
								height: 16rem;
							}
						}
					}
				}
			}
			.btn_and_logos {
				width: 100%;
				@include grid(repeat(2, 1fr), 3.2rem);
				translate: 200% 0;
				transition: all 600ms ease-in-out;
				opacity: 0;
				.btn_and_subtext {
					display: flex;
					flex-direction: column;
					height: 100%;
					justify-content: space-between;
					p {
						margin-top: 1.2rem;
						max-width: 80%;
						font-size: 1.6rem;
						line-height: 2.4rem;
					}
					.button {
						width: 20rem;
						height: 5rem;
						position: relative;
						top: -2.5rem;
						& > p {
							font-size: 1.4rem!important;
							font-weight: 600!important;
							margin-top: 0;
						}
					}
				}
				.logos {
					width: 100%;
					.partners_logo {
						width: 100%;
						@include grid(repeat(4, 1fr), 1.6rem);
						.partner_logo_card {
							width: 100%;
							background: rgba(255, 255, 255, 0.1);
							border-radius: 1rem;
							height: 17.7rem;
							display: flex;
							align-items: center;
							justify-content: center;
							.partner_logo {
								position: relative;
								& > img {
									object-fit: cover;
								}
								&[data-index = "0"] {
									width: 6.4rem;
									height: 6.4rem;
								}
								&[data-index = "1"] {
									width: 12.6rem;
									height: 7.3rem;
								}
								&[data-index = "2"] {
									width: 13.4rem;
									height: 13.4rem;
								}
								&[data-index = "3"] {
									width: 16rem;
									height: 16rem;
								}
							}
						}
					}
					.full_logo {
						width: 100%;
						background: rgba(255, 255, 255, 0.1);
						margin-top: 2.4rem;
						display: flex;
						height: 17rem;
						align-items: center;
						justify-content: center;
						border-radius: 1.6rem;
						.logo_container {
							position: relative;
							width: 6.4rem;
							height: 6.4rem;
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							border: 0.3rem solid rgba(255, 255, 255, 0.05);
							.logo {
								position: relative;
								width: 3.2rem;
								height: 3.2rem;
							}
						}
					}
				}
			}
			&[data-active="true"] {
				.btn_and_logos {
					opacity: 1;
					translate: 0% 0;
					transition: all 600ms ease-in-out;
				}
				.image_and_logo {
					opacity: 0;
					translate: 0% 200%;
					transition: all 600ms ease-in-out;
				}
			}
		}
	}
	.divider {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
		margin-top: 6rem;
	}

	@include screenMax("tablet") {
		margin-bottom: 1.6rem;
		.section_container {
			padding: 2rem;
			.body {
				padding: 1.6rem;
				max-height: 40rem;
				.details {
					.text {
						h3, span {
							font-size: 2rem;
							line-height: 2.8rem;
						}
					}
				}
				.image_and_logo {
					top: -29rem;
					gap: 1.8rem;
					.top_image {
						width: 35rem;
						height: 28rem;
					}
					.partners_logo {
						.partner_logo_card {
							width: 12rem;
							height: 12rem;
							.partner_logo {
								&[data-index = "0"] {
									width: 4.4rem;
									height: 4.4rem;
								}
								&[data-index = "1"] {
									width: 9.6rem;
									height: 5.3rem;
								}
								&[data-index = "2"] {
									width: 9.4rem;
									height: 9.4rem;
								}
								&[data-index = "3"] {
									width: 11rem;
									height: 11rem;
								}
							}
						}
					}
				}
				.btn_and_logos {
					.btn_and_subtext {
						p {
							font-size: 1.4rem;
							line-height: 2rem;
						}
						.button {
							top: 0;
						}
					}
					.logos {
						.partners_logo {
							.partner_logo_card {
								width: 12rem;
								height: 12rem;
								.partner_logo {
									&[data-index = "0"] {
										width: 4.4rem;
										height: 4.4rem;
									}
									&[data-index = "1"] {
										width: 8.6rem;
										height: 5.3rem;
									}
									&[data-index = "2"] {
										width: 9.4rem;
										height: 9.4rem;
									}
									&[data-index = "3"] {
										width: 11rem;
										height: 11rem;
									}
								}
							}
						}
					}
				}
			}
		}
		.divider {
			margin-top: 4rem;
		}
	}

	@include screenMax('mobile') {
		margin-bottom: 0.8rem;
		.section_container {
			padding: 1.6rem;
			.body {
				padding: 1.6rem 0.8rem;
				.details {
					display: block;
					width: 100%;
					.text {
						width: 100%;
						h3, span {
							font-size: 1.8rem;
							line-height: 2.4rem;
						}
						p {
							font-size: 1.2rem;
							line-height: 1.6rem;
							color: #FFF;
							margin-top: 0.8rem;
							margin-bottom: 2.4rem;
						}
					}
					.button {
						height: 4rem;
						width: 18rem;
						margin-bottom: 2.4rem;
					}
					.partners_logos {
						width: 100%;
						@include grid(repeat(4, 1fr), 0.8rem);
						margin-bottom: 1.6rem;
						.partner_logo_card {
							height: 9rem;
							width: 100%;
							background: rgba(255, 255, 255, 0.1);
							border-radius: 0.8rem;
							display: flex;
							align-items: center;
							justify-content: center;
							.partner_logo {
								position: relative;
								&[data-index = "0"] {
									width: 3.2rem;
									height: 3.2rem;
								}
								&[data-index = "1"] {
									width: 6rem;
									height: 4rem;
								}
								&[data-index = "2"] {
									width: 7rem;
									height: 7rem;
								}
								&[data-index = "3"] {
									width: 7rem;
									height: 7rem;
								}
								& > img {
									object-fit: cover;
								}
							}
						}
					}
				}
				.btn_and_logos, .image_and_logo {
					display: none;
				}
			}
		}
		.divider {
			margin-top: 2rem;
		}
	}
}
