@import "@/styles/imports";

.hero {
	// background: linear-gradient(180deg, #13361b 64.89%, rgba(0, 0, 0, 0) 100%);
	background: rgba($col-white, 0.05);
	min-height: 100vh;
	position: relative;
	@extend %center;
	.grad {
		width: 15.2rem;
		height: 100%;
		position: absolute;
		left: calc(50% - 7.6rem);
		// background-color: rgba(190, 242, 190, 0.8);
		// background-color: rgba($col-white, 0.05);
		background-color: #000;
		box-shadow: 1px 4px 100px rgba(190, 242, 190, 0.8);
		filter: blur(150px);
		display: none;
	}
	.hero_container {
		// padding: 11.5rem 0 0rem;
		padding: 10rem 0 0;
		position: relative;
		z-index: 1;
		// max-width: $max-width;
		width: 100%;
		margin-inline: auto;
		.text {
			h3 {
				@extend %title-50;
				font-weight: 700;
				color: #fff;
				font-family: $font-gothic-bold;
			}
		}
		.hero_background {
			height: 85vh;
			border-radius: 1.5rem;
			@include flex();
			position: relative;
			overflow: hidden;
			.hero_image__container {
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				.hero_image {
					position: relative;
					width: 100%;
					height: 100%;
					& > video {
						object-fit: cover;
						width: 100vw;
					}
				}
			}
			.hero_content {
				width: 100%;
				align-self: flex-end;
				padding: 2rem 3.6rem;
				@include flex(space-between, flex-end, nowrap);
				z-index: 2;
				.text {
					max-width: 115rem;
					p {
						max-width: 82.9rem;
						margin-top: 2rem;
					}
				}
				.button_text > p {
					font-weight: 600!important;
				}
			}
		}
	}
	.title {
		margin-block: 3.6rem;
		padding-inline: 3.6rem;
		margin-inline: auto;
		max-width: $max-width;
		width: 100%;
		h2 {
			font-size: 4rem;
			line-height: 4.3rem;
			font-weight: 700;
			font-family: $font-gothic-bold;
			color: #fff;
			margin-bottom: 3.6rem;
		}
		h3,
		span {
			font-size: 3rem;
			line-height: 3.3rem;
			font-weight: 700;
			font-family: $font-gothic-bold;
		}
		span {
			color: #fff;
		}
	}
	.divider {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}
	&[data-type="do"] {
		.title {
			h3 {
				max-width: 100rem;
			}
		}
	}
	&[data-type="are"] {
		.title {
			h3,
			span {
				text-align: center;
			}
		}
	}

	@include screenMax("tablet") {
		.hero_container {
			padding: 5rem 0;
			.hero_background {
				height: 98vh;
				.hero_content {
					flex-wrap: wrap;
					gap: 3.2rem;
					padding: 1.6rem 2.4rem;
				}
			}
		}
		.grad {
			width: 5rem;
		}
		.title {
			padding-inline: 1.6rem;
			h2 {
				margin-bottom: 2.4rem;
				font-size: 3.6rem;
				line-height: 4.4rem;
			}
		}
	}

	@include screenMax('mobile') {
		.hero_container {
			padding: 7.5rem 0 0;
			.hero_background {
				height: 90vh;
				.hero_image__container {
					.hero_image {
						& > video {
							height: 90vh;
						}
					}
				}
				.hero_content {
					padding: 1.6rem;
					.text {
						margin-top: 10rem;
						p {
							font-size: 1.6rem;
							line-height: 2.4rem;
							margin-top: 1rem;
						}
					}
				}
			}
		}
		.title {
			h2 {
				font-size: 2.4rem;
				line-height: 3.2rem;
				margin-bottom: 1.6rem;
			}
			h3, span {
				font-size: 1.6rem;
				line-height: 2.4rem;
			}
		}
	}
}
