@import "@/styles/imports";

.hero {
	// background: linear-gradient(180deg, #13361b 64.89%, rgba(0, 0, 0, 0) 100%);
	background: rgba(0, 0 , 0, 0.1);
	min-height: 100vh;
	position: relative;
	width: 100%;
	@extend %center;
	.grad {
		width: 15.2rem;
		height: 100%;
		position: absolute;
		left: calc(50% - 7.6rem);
		// background-color: rgba(190, 242, 190, 0.8);
		background-color: rgba(0, 0, 0, 0.1);
		// background-color: #000;
		box-shadow: 1px 4px 100px rgba(190, 242, 190, 0.8);
		filter: blur(150px);
		display: none;
	}
	.hero_container {
		// padding: 11.5rem 0 0rem;
		padding: 10rem 3.6rem 0;
		position: relative;
		z-index: 1;
		width: 100%;
		// max-width: $max-width;
		margin-inline: auto;
		.text {
			h3 {
				@extend %title-50;
				font-weight: 700;
				color: #FFF;
				font-family: $font-gothic-bold;
			}
		}
		.hero_background {
			height: 85vh;
			border-radius: 1.5rem;
			@include flex();
			position: relative;
			overflow: hidden;
			.hero_image__container {
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				.hero_image {
					position: relative;
					width: 100%;
					height: 100%;
					& > video {
						object-fit: cover;
						width: 100vw;
						height: 100vh;
					}
				}
			}
			.hero_content {
				width: 100%;
				max-width: $max-width;
				margin-inline: auto;
				align-self: flex-end;
				padding: 2rem 3.6rem;
				@include flex(space-between, flex-end, nowrap);
				z-index: 2;
				.text {
					max-width: 115rem;
					h3 {
						font-size: 4.4rem;
						line-height: 5.6rem;
					}
					p {
						max-width: 82.9rem;
						margin-top: 2rem;
						font-size: 1.8rem;
						line-height: 2.7rem;
					}
				}
				.button_text > p {
					font-weight: 600!important;
					font-size: 1.4rem;
				}
			}
		}
	}
	.title {
		margin-block: 3.6rem;
		margin-inline: auto;
		max-width: 75%;
		h2 {
			font-size: 3.6rem;
			line-height: 4rem;
			font-weight: 700;
			font-family: $font-gothic-bold;
			color: #fff;
			margin-bottom: 1.6rem;
		}
		h3,
		span {
			font-size: 1.8rem;
			line-height: 2.7rem;
			font-weight: 700;
			font-family: $font-gothic-bold;
		}
		span {
			color: #fff;
		}
	}
	.divider {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}
	&[data-type="do"] {
		.hero_container {
			padding: 14rem 3.6rem 0;
		}
		.title {
			margin-inline: 3.6rem auto;
			margin-block: 3.6rem 0;
			h2 {
				font-size: 3.2rem;
				line-height: 4rem;
			}
			h3 {
				font-size: 2rem;
				line-height: 3rem;
				width: 60%;
			}
		}
	}
	&[data-type="are"] {
		.hero_container {
			padding: 14rem 3.6rem 0;
		}
		.title {
			margin-inline: auto;
			width: 144rem;
			margin-block: 3.6rem 0;
			padding-inline: 3.6rem;
			h3, span {
				text-align: center;
				font-size: 2rem;
				line-height: 3rem;
			}
		}
	}

	@include screenMax("tablet") {
		.hero_container {
			padding: 5rem 0;
			.hero_background {
				height: 98vh;
				.hero_content {
					flex-wrap: wrap;
					gap: 3.2rem;
					padding: 1.6rem 2.4rem;
					.text {
						h3 {
							font-size: 3.6rem;
							line-height: 4.4rem;
						}
						p {
							line-height: 2.4rem;
							margin-top: 1.6rem;
						}
					}
				}
			}
		}
		.grad {
			width: 5rem;
		}
		.title {
			padding-inline: 1.6rem;
			margin-block: 2.4rem 0;
			max-width: 85%;
			h2 {
				margin-bottom: 2.4rem;
				font-size: 2.8rem;
				line-height: 3.6rem;
			}
			h3, span {
				font-size: 1.6rem;
				line-height: 2.4rem;
			}
		}
		&[data-type="do"] {
			.hero_container {
				padding: 10rem 2.4rem 0;
			}
			.title {
				margin-inline: 2.4rem auto;
				h2 {
					font-size: 2.4rem;
					line-height: 3.2rem;
				}
				h3 {
					font-size: 1.8rem;
					line-height: 2.7rem;
					width: 85%;
				}
			}
		}
		&[data-type="are"] {
			.hero_container {
				padding: 10rem 2.4rem 0;
			}
			.title {
				h3,
				span {
					font-size: 1.8rem;
					line-height: 2.7rem;
				}
			}
		}
	}

	@include screenMax('mobile') {
		.hero_container {
			padding: 7.5rem 0 0;
			.hero_background {
				height: 90vh;
				.hero_image__container {
					.hero_image {
						& > video {
							height: 90vh;
						}
					}
				}
				.hero_content {
					padding: 1.6rem;
					.text {
						margin-top: 10rem;
						h3 {
							font-size: 2.4rem;
							line-height: 3.2rem;
						}
						p {
							font-size: 1.4rem;
							line-height: 2rem;
							margin-top: 1rem;
						}
					}
				}
			}
		}
		.title {
			margin-block: 1.6rem;
			max-width: 95%;
			h2 {
				font-size: 2.4rem;
				line-height: 3.2rem;
				margin-bottom: 1.6rem;
			}
			h3, span {
				font-size: 1.4rem;
				line-height: 2rem;
			}
		}
		&[data-type="do"] {
			.hero_container {
				padding: 7.5rem 1.6rem 0;
			}
			.title {
				padding: 0;
				margin-inline: 1.6rem auto;
				margin-block: 1.6rem 0;
				h2 {
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
				h3 {
					font-size: 1.4rem;
					line-height: 2rem;
					width: 100%;
				}
			}
		}
		&[data-type="are"] {
			.hero_container {
				padding: 7.5rem 1.6rem 0;
			}
			.title {
				padding: 0;
				h3,
				span {
					font-size: 1.4rem;
					line-height: 2rem;
				}
			}
		}
	}
}
