@import "@/styles/imports";

.scroller {
  max-width: 100%;
  &[data-animated='true'] {
    overflow: hidden;
    background: transparent;
    .scroller__inner {
      width: max-content;
      background: transparent;
      flex-wrap: nowrap;
      animation: scroll var(--_animation-duration, 50s)
        var(--_animation-direction, forwards) linear infinite;
    }
  }

  &.direction-right {
    --_animation-direction: reverse;
  }

  &.direction-left {
    --_animation-direction: forwards;
  }

  &.speed-fast {
    --_animation-duration: 25s;
  }

  &.speed-slow {
    --_animation-duration: 90s;
  }
}

.scroller__inner {
  padding-block: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding-inline: 0;
  list-style: none;

  @include screenMax("tablet") {
    padding-block: 4rem;
  }

  @include screenMax("mobile") {
    padding-block: 2rem;
  }
}

.tag {
  position: relative;
  flex-shrink: 0;
  margin-right: 3.6rem;
  height: 5.5rem;
  &[data-index = "0"] {
    width: 10.5rem!important;
    height: 5.5rem!important;
  }
  &[data-index = "1"] {
    width: 15rem!important;
    height: 6.5rem!important;
  }
  &[data-index = "2"] {
    width: 8.3rem!important;
    height: 5.5rem!important;
  }
  &[data-index = "3"] {
    width: 22rem!important;
    height: 5.5rem!important;
  }
  &[data-index = "4"] {
    width: 21rem!important;
    height: 5.5rem!important;
  }
  &[data-index = "5"] {
    width: 17rem!important;
    height: 5.5rem!important;
  }
  &[data-index = "6"] {
    width: 11rem!important;
    height: 5.5rem!important;
  }
  &[data-index = "7"] {
    width: 20rem!important;
    height: 5.5rem!important;
  }
  &[data-index = "8"] {
    width: 20rem!important;
    height: 5.5rem!important;
  }
  &[data-index = "9"] {
    width: 16.5rem!important;
    height: 5.5rem!important;
  }
  &[data-index = "10"] {
    width: 20rem!important;
    height: 5.25rem!important;
  }
  &[data-index = "11"] {
    width: 14rem!important;
    height: 5.5rem!important;
  }
  &[data-index = "12"] {
    width: 6.5rem!important;
    height: 5.5rem!important;
    & > img {
      object-fit: contain!important;
    }
  }
  &[data-index = "13"] {
    width: 6rem!important;
    height: 5.5rem!important;
    & > img {
      object-fit: contain!important;
    }
  }
  &[data-index = "14"] {
    width: 9.5rem!important;
    height: 5.5rem!important;
    & > img {
      object-fit: contain!important;
    }
  }
  &[data-index = "15"] {
    width: 6rem!important;
    height: 5.5rem!important;
    & > img {
      object-fit: contain!important;
    }
  }
  &[data-index = "16"] {
    width: 6rem!important;
    height: 5.5rem!important;
    & > img {
      object-fit: contain!important;
    }
  }
  & > img {
    object-fit: cover;
  }

  @include screenMax("tablet") {
    margin-right: 2.4rem;
  }

  @include screenMax("mobile") {
    margin-right: 1.6rem;
    height: 5rem;
    &[data-index = "0"] {
      width: 8.5rem!important;
      height: 5rem!important;
    }
    &[data-index = "1"] {
      width: 9rem!important;
      height: 4rem!important;
    }
    &[data-index = "2"] {
      width: 8.3rem!important;
      height: 5rem!important;
    }
    &[data-index = "3"] {
      width: 10rem!important;
      height: 5rem!important;
    }
    &[data-index = "4"] {
      width: 8rem!important;
      height: 5rem!important;
    }
    &[data-index = "5"] {
      width: 8rem!important;
      height: 5rem!important;
    }
    &[data-index = "6"] {
      width: 9rem!important;
      height: 5rem!important;
    }
    &[data-index = "7"] {
      width: 10.5rem!important;
      height: 5rem!important;
    }
    &[data-index = "8"] {
      width: 20rem!important;
      height: 5rem!important;
    }
    &[data-index = "9"] {
      width: 16.5rem!important;
      height: 5rem!important;
    }
    &[data-index = "10"] {
      width: 21rem!important;
      height: 5rem!important;
    }
    &[data-index = "11"] {
      width: 14rem!important;
      height: 5rem!important;
    }
    &[data-index = "12"] {
      width: 6.5rem!important;
      height: 5rem!important;
    }
    &[data-index = "13"] {
      width: 6rem!important;
      height: 5rem!important;
    }
    &[data-index = "14"] {
      width: 7rem!important;
      height: 4.5rem!important;
    }
    &[data-index = "15"] {
      width: 5rem!important;
      height: 4.5rem!important;
    }
    &[data-index = "16"] {
      width: 5rem!important;
      height: 4.5rem!important;
    }
    & > img {
      object-fit: contain!important;
    }
  }
}

.test {
  background: red !important;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}