@import "@/styles/imports";

.scroller {
  max-width: 100%;
  &[data-animated='true'] {
    overflow: hidden;
    background: transparent;
    .scroller__inner {
      width: max-content;
      background: transparent;
      flex-wrap: nowrap;
      animation: scroll var(--_animation-duration, 40s)
        var(--_animation-direction, forwards) linear infinite;
    }
  }

  &.direction-right {
    --_animation-direction: reverse;
  }

  &.direction-left {
    --_animation-direction: forwards;
  }

  &.speed-fast {
    --_animation-duration: 20s;
  }

  &.speed-slow {
    --_animation-duration: 70s;
  }
}

.scroller__inner {
  padding-block: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding-inline: 0;
  list-style: none;

  @include screenMax('tablet') {
    padding-block: 6rem;
  }

  @include screenMax('mobile') {
    padding-block: 3.2rem;
  }
}

.tag {
  position: relative;
  flex-shrink: 0;
  width: 72.8rem;
  height: 13.6rem;
  margin-right: 1.6rem;
  &[data-index = "0"], &[data-index = "4"] {
    width: 13.5rem;
    height: 7.4rem;
  }
  &[data-index = "1"], &[data-index = "5"] {
    width: 16rem;
    height: 7.4rem;
  }
  &[data-index = "2"], &[data-index = "6"] {
    width: 6.5rem;
    height: 6.5rem;
  }
  &[data-index = "3"], &[data-index = "7"] {
    width: 12.5rem;
    height: 7.3rem;
  }

  @include screenMax('mobile') {
    width: 16.5rem;
    height: 3rem;
    margin-right: 0.8rem;
    &[data-index = "0"], &[data-index = "4"] {
    width: 6.5rem;
    height: 3.5rem;
  }
  &[data-index = "1"], &[data-index = "5"] {
    width: 8rem;
    height: 3.5rem;
  }
  &[data-index = "2"], &[data-index = "6"] {
    width: 4rem;
    height: 3.5rem;
  }
  &[data-index = "3"], &[data-index = "7"] {
    width: 6.5rem;
    height: 3.5rem;
  }
  }
}

.test {
  background: red !important;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}