@import "@/styles/imports";

.dpi_container {
  margin-bottom: 8rem;
  width: 100%;
  // .label::before {
  //   content: '';
  //   width: 2.4rem;
  //   height: 0.2rem;
  //   background: #00BF4D;
  // }

  @include screenMax("tablet") {
    margin-bottom: 6rem;
  }

  @include screenMax("mobile") {
    margin-bottom: 4rem;
  }

}