@import "@/styles/imports";

.details_container {
    position: relative;
    padding: 0rem!important;
    margin: 16rem 0 8rem;
    width: 100%;
    .details_content {
        max-width: 1440px;
        margin-inline: auto;
        padding: 3.6rem;
        .details_header {
            width: 100%;
            padding: 3.2rem;
            border: 0.1rem solid #FFFFFF1F;
            border-radius: 1.6rem;
            h1 {
                font-family: $font-gothic-bold;
                font-size: 4.8rem;
                color: $col-white;
            }
            .time_and_date {
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 3.2rem;
                h4 {
                    font-family: $font;
                    font-size: 2rem;
                    font-weight: 500;
                    color: $col-white;
                }
            }
        }
        .details_image, .details_image_2 {
            position: relative;
            width: 100%;
            height: 47.5rem;
            margin-bottom: 6.4rem;
        }
        .details_image_2 {
            margin-top: 6.4rem;
            & > img {
                border-radius: 1.6rem;
            }
        }
        .details_body {
            width: 85%;
            margin-inline: auto;
            h2 {
                font-size: 3.2rem;
                font-family: $font-gothic-bold;
                color: $col-white;
                margin-bottom: 2.4rem;
            }
            h3 {
                font-family: $font-gothic;
                color: $col-white;
                font-size: 2rem;
            }
        }
    }
    .divider {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
        margin-block: 3.6rem;
	}
    .divider_green {
        width: 100%;
		height: 2rem;
        background-color: #BEF2BE;
    }

    @include screenMax('tablet') {
        margin: 10rem 0 6rem;
        .details_content {
            padding: 2.4rem;
            .details_header {
                padding: 2.4rem;
            }
            .details_image {
                height: 40rem;
            }
            .details_body {
                h2 {
                    font-size: 2.8rem;
                }
                h3 {
                    font-size: 1.6rem;
                }
            }
        }
    }

    @include screenMax('mobile') {
        margin: 8rem 0 4rem;
        .details_content {
            padding: 1.6rem;
            .details_header {
                padding: 1.6rem;
                .time_and_date {
                    width: 100%;
                }
            }
            .details_image {
                height: 32rem;
            }
            .details_body {
                width: 100%;
                h2 {
                    font-size: 2.4rem;
                    margin-bottom: 1.6rem;
                }
                h3 {
                    font-size: 1.4rem;
                }
            }
        }
    }
}