@import "@/styles/imports";

%underline {
	& > i {
    font-style: italic!important;
  }
  & > u {
    text-decoration: underline;
    i {
      font-style: italic!important;
    }
  }
}

.rich_text_container {
  width: 100%;
  margin: 0 auto;
}

.paragraph, .italic, .underline {
  color: #FFFFFF;
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-family: $font;
  margin-bottom: 2.4rem;
  & > b {
    font-family: $font;
    font-weight: 700;
    color: #FFFFFF;
    i {
      font-style: italic!important;
    }
  }
  & > i {
    font-style: italic!important;
  }
  & > u {
    text-decoration: underline;
    i {
      font-style: italic!important;
    }
  }
  & > sup {
    vertical-align: super;
    font-size: 1.4rem;
    line-height: 0;
  }
  & > sub {
    font-size: 1.4rem;
    line-height: 0;
    vertical-align: sub;
  }
}

.italic {
  margin-bottom: 2.4rem;
}

.blockquote {
  font-style: italic;
  margin-bottom: 2.4rem;
  p {
    color: #FFFFFF;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: $font;
    margin-bottom: 0!important;
    padding-left: 1.6rem!important;
    & > sup {
      vertical-align: super;
      font-size: 1.4rem;
      line-height: 0;
    }
    & > sub {
      font-size: 1.4rem;
      line-height: 0;
      vertical-align: sub;
    }
  }
  & > sup {
    vertical-align: super;
    font-size: 1.4rem;
    line-height: 0;
  }
  & > sub {
    font-size: 1.4rem;
    line-height: 0;
    vertical-align: sub;
  }
  .quote_icon_left, .quote_icon_right {
    position: relative;
    width: 2rem;
    height: 2rem;
  }
  .quote_icon_left {
    margin-bottom: 1rem;
  }
  .quote_icon_right {
    margin-top: 1rem;
  }

}
.heading1, .heading2, .heading3, .heading4, .heading5, .heading6 {
  & > b {
    font-family: $font;
    font-weight: 700;
  }
}

.heading1 {
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-family: $font-gothic-bold;
  color: #FFFFFF;
  margin-bottom: 2.4rem;
  & > i {
    font-style: italic!important;
  }
  & > u {
    text-decoration: underline;
    i {
      font-style: italic!important;
    }
  }
}

.heading2 {
  font-size: 3.6rem;
  line-height: 4.4rem;
  font-family: $font-gothic-bold;
  color: #FFFFFF;
  margin-bottom: 3.2rem;
  & > i {
    font-style: italic!important;
  }
  & > u {
    text-decoration: underline;
    i {
      font-style: italic!important;
    }
  }
}

.heading3 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-family: $font-gothic-bold;
  color: #FFFFFF;
  margin-bottom: 2.4rem;
  @extend %underline;
}

.heading4 {
  font-size: 2rem;
  line-height: 2.8rem;
  font-family: $font-gothic-bold;
  color: #FFFFFF;
  margin-bottom: 1.2rem;
}

.heading5 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: $font-gothic-bold;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.heading6 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: $font-gothic-bold;
  color: #FFFFFF;
  margin-bottom: 0.8rem;
}

.unordered_list {
  list-style-type: disc!important;
  padding-left: 2.4rem;
  margin-bottom: 3.2rem;
  @extend %underline;
}

.ordered_list {
  list-style-type: decimal;
  padding-left: 2.4rem;
  margin-bottom: 3.2rem;
  @extend %underline;
}

.list_item {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  font-family: $font;
  margin-bottom: 0.8rem;
  @extend %underline;
  list-style-type: disc!important;
  &::marker {
    color: #FFFFFF;
    font-family: $font-gothic-bold;
  }
}

.code_block {
  background-color: $col-grey-500;
  padding: 1.6rem;
  overflow: auto;
  margin: 1.6rem 0;
}

.code {
  @extend %text-14;
  font-family: $font;
}
  
.image_container {
  width: 100%;
  height: 54rem;
  margin: 5.6rem 0;
  position: relative;
  & > img {
    object-fit: cover;
  }
}

  
.video_embed {
  border: 0.1rem solid $col-grey-200;
  border-radius: 0.8rem;
  width: 100%;
  height: 54rem;
  margin: 5.6rem 0;
  position: relative;
  & > iframe {
    width: 100%;
    height: 100%;
  }
}
  
.entry_link {
  color: #3DB54A;
  font-size: 2rem;
  line-height: 3rem;
  font-family: $font-gothic-bold;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}
  
.hyperlink {
  color: #3DB54A;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  font-family: $font-gothic-bold;
  &:hover {
    text-decoration: underline;
  }
}

@include screenMax('tablet') {
  .unordered_list, .ordered_list {
    padding-left: 2.4rem;
  }
  .list_item {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .image_container, .video_embed {
    height: 40rem;
    margin: 4rem 0;
  }
  .paragraph, .italic, .underline, .entry_link, .hyperlink {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  .blockquote {
    p {
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }
}

@include screenMax('mobile') {
  .unordered_list, .ordered_list {
    padding-left: 1.6rem;
  }
  .list_item {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  .image_container, .video_embed {
    height: 24rem;
    margin: 2.4rem 0 4rem;
  }
  .heading1 {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 2.4rem;
  }
  .heading2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
  }
  .heading3 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .paragraph, .italic, .underline {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 1.6rem;
    & > sup {
    vertical-align: super;
    font-size: 1rem;
    line-height: 0;
  }
  & > sub {
    font-size: 1rem;
    line-height: 0;
    vertical-align: sub;
  }
  }
  .entry_link, .hyperlink {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .italic {
    margin-bottom: 1.6rem;
  }
  .blockquote {
    margin-bottom: 1.6rem;
    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
  .blockquote {
    .quote_icon_left, .quote_icon_right {
      width: 1.6rem;
      height: 1.6rem;
    }
    .quote_icon_left {
      margin-bottom: 0.8rem;
    }
    .quote_icon_right {
      margin-top: 0.8rem;
    }
  }
}