@import "@/styles/imports";

.footer_body {
    width: 100%;
    padding: 6rem 8rem;
    background: rgba($col-white, 0.1);
    position: relative;
    .footer_container {
        padding: 3.6rem;
        max-width: $max-width;
        margin-inline: auto;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .footer_content {
            h1 {
                text-align: center;
                text-transform: uppercase;
                color: #1BB24B;
                font-family: $font;
                font-weight: 900;
                font-size: 3.6rem;
                line-height: 4.4rem;
                margin: 0 auto 3.2rem;
            }
            h3 {
                color: #FFF;
                font-size: 1.6rem;
                line-height: 2.4rem;
                font-weight: 500;
                font-family: $font;
                margin: 0 auto 5.6rem;
                text-align: center;
            }
            p {
                font-size: 2rem;
                line-height: 2.8rem;
                color: #FFF;
                text-align: center;
                font-family: $font-gothic-bold;
            }
        }
    }

    @include screenMax("tablet") {
        padding: 4.8rem 6rem;
        .footer_container {
            padding: 2.4rem;
            .footer_content {
                h1 {
                    font-size: 3.2rem;
                    line-height: 4rem;
                    margin-bottom: 2.4rem;
                }
                h3 {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    margin-bottom: 4rem;
                }
                p {
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                }
            }
        }
    }

    @include screenMax("mobile") {
        padding: 3.6rem 2.4rem;
        .footer_container {
            padding: 1.6rem;
            .footer_content {
                h1 {
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                    margin-bottom: 1.6rem;
                }
                h3 {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    margin-bottom: 2.4rem;
                }
                p {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
            }
        }
    }
}