@import "@/styles/imports";

.section {
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		margin-bottom: 8rem;
		.text {
			h2 {
				font-size: 4rem;
				line-height: 5.6rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				color: #fff;
				margin-bottom: 3.6rem;
			}
			h3,
			span {
				font-size: 2.8rem;
				line-height: 3.6rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
			}
			span {
				color: #fff;
			}
			p {
				margin-top: 1.2rem;
				font-size: 1.6rem;
			}
		}
		.row {
			@include grid(repeat(2, 1fr), 3.6rem);
		}
	}
	.divider,
	.divider1 {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}
	.divider1 {
		margin-block: 3.6rem;
	}

	@include screenMax("tablet") {
		margin-bottom: 6rem;
		.section_container {
			padding-inline: 1.6rem;
			padding-block: 2.4rem;
			.row {
				grid-template-columns: 100%;
			}
			.text {
				h2 {
					font-size: 3.2rem;
					line-height: 4.4rem;
					margin-bottom: 2.4rem;
				}
				h3, span {
					font-size: 2rem;
					line-height: 2.8rem;
				}
			}
			.card {
				padding: 2rem;
				height: auto !important;
				.details {
					h3 {
						font-size: 2.2rem;
						line-height: 2.8rem;
					}
				}
				.button {
					margin-top: 1.8rem;
				}
				.grad {
					display: none !important;
				}
			}
			.divider1 {
				margin-block: 2.4rem;
			}
		}
	}

	@include screenMax("mobile") {
		margin-bottom: 4rem;
		.section_container {
			padding: 1.6rem;
			.text {
				h2 {
					font-size: 2.4rem;
					line-height: 3.2rem;
					margin-bottom: 1rem;
				}
				h3, span {
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
				p {
					font-size: 1.4rem;
				}
			}
			.divider1 {
				margin-block: 0.8rem;
			}
		}
	}
}
