@import "@/styles/imports";

.section {
	margin-bottom: 8rem;
	width: 100%;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		.text_container {
			width: 100vw;
			margin-inline: -3.6rem;
			height: 58rem;
			margin-bottom: 8rem;
			position: relative;
			.image_container {
				position: absolute;
				inset: 0;
				background-image: url("/images/consulting.png");
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				z-index: 0;
			}
			& > img {
				object-fit: cover;
			}
			.text {
				position: relative;
				width: 70%;
				padding: 0 0 0 3.6rem;
				top: 70%;
				h2 {
					font-size: 4rem;
					line-height: 5.6rem;
					font-weight: 700;
					font-family: $font-gothic-bold;
					color: #FFF;
					margin-bottom: 2.4rem;
				}
				h3,
				span {
					font-size: 2rem;
					line-height: 2.8rem;
					font-weight: 700;
					font-family: $font-gothic-bold;
				}
				span {
					color: #FFF;
				}
				p {
					margin-top: 1.2rem;
					font-size: 1.6rem;
				}
			}
		}
		.row, .rows_mob {
			@include grid(repeat(2, 1fr), 3.6rem);
		}
		.rows_mob {
			display: none;
		}
	}
	.divider,
	.divider1 {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
		margin-top: 8rem;
	}
	.divider1 {
		margin-block: 3.6rem;
		display: none;
	}

	@include screenMax("tablet") {
		margin-bottom: 6rem;
		.section_container {
			padding: 2.4rem;
			.text_container {
				height: 40rem;
				margin-bottom: 6rem;
				margin-inline: -2.4rem;
				.text {
					top: 50%;
					width: 75%;
					padding: 0 0 0 2.4rem;
					h2 {
						font-size: 3.2rem;
						line-height: 4rem;
					}
					h3, span {
						font-size: 1.8rem;
						line-height: 2.7rem;
					}
				}
			}
			.row {
				display: none!important;
			}
			.rows_mob {
				@include grid(repeat(1, 1fr), 2.4rem, 0!important);
			}
			.card {
				padding: 2rem;
				height: auto !important;
				.details {
					h3 {
						font-size: 2.2rem;
						line-height: 2.8rem;
					}
				}
				.button {
					margin-top: 1.8rem;
				}
				.grad {
					display: none !important;
				}
			}
			.divider1 {
				margin-block: 2.4rem;
			}
		}
		.divider {
			margin-top: 6rem;
		}
	}

	@include screenMax("mobile") {
		margin-bottom: 4rem;
		.section_container {
			padding: 1.6rem;
			.text_container {
				height: 38rem;
				margin-inline: -1.6rem;
				.text {
					padding: 0 0 0 1.6rem;
					top: 30%;
					width: 100%;
					h2 {
						font-size: 2.4rem;
						line-height: 3.2rem;
						margin-bottom: 1rem;
					}
					h3, span {
						font-size: 1.4rem;
						line-height: 2rem;
					}
				}
			}
			.divider1 {
				margin-block: 0.8rem;
			}
		}
		.divider {
			margin-top: 4rem;
		}
	}
}
