@import "@/styles/imports";

.section {
	margin-bottom: 8rem;
	width: 100%;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		.text {
			h2 {
				font-size: 4rem;
				line-height: 5.6rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				color: #FFF;
				margin-bottom: 2.4rem;
			}
			h3,
			span {
				font-size: 2rem;
				line-height: 2.8rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				width: 75%;
			}
			span {
				color: #FFF;
			}
			p {
				margin-top: 1.2rem;
				font-size: 1.6rem;
			}
		}
		.row {
			@include grid(repeat(2, 1fr), 3.6rem);
		}
	}
	.divider,
	.divider1 {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}
	.divider1 {
		margin-block: 3.6rem;
		display: none;
	}

	@include screenMax("tablet") {
		margin-bottom: 6rem;
		.section_container {
			padding: 2.4rem;
			.row {
				// grid-template-columns: 100%;
				@include grid(repeat(1, 1fr), 2.4rem);
			}
			.text {
				h2 {
					font-size: 3.2rem;
					line-height: 4rem;
					margin-bottom: 1.6rem;
				}
				h3, span {
					font-size: 1.8rem;
					line-height: 2.7rem;
					width: 80%;
				}
			}
			.card {
				padding: 2rem;
				height: auto !important;
				.details {
					h3 {
						font-size: 2.2rem;
						line-height: 2.8rem;
					}
				}
				.button {
					margin-top: 1.8rem;
				}
				.grad {
					display: none !important;
				}
			}
			.divider1 {
				margin-block: 2.4rem;
			}
		}
	}

	@include screenMax("mobile") {
		margin-bottom: 4rem;
		.section_container {
			padding: 1.6rem;
			.text {
				h2 {
					font-size: 2.4rem;
					line-height: 3.2rem;
					margin-bottom: 1rem;
				}
				h3, span {
					font-size: 1.4rem;
					line-height: 2rem;
					width: 100%;
				}
				p {
					font-size: 1.4rem;
				}
			}
			.divider1 {
				margin-block: 0.8rem;
			}
		}
	}
}
