@import "@/styles/imports";

.section {
	width: 100%;
	margin-bottom: 6rem;
	.text_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		// padding: 7rem 3.6;
		.text {
			max-width: 100rem;
			margin-inline: auto;
			h2 {
				font-size: 5.6rem;
				line-height: 6.4rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				color: #FFF;
				margin-bottom: 2.4rem;
				text-align: center;
			}
			.text_wrapper {
				max-width: 99rem;
				margin: 0 auto;
				text-align: center;
			}
			h3,
			span {
				font-size: 2.4rem;
				line-height: 3.2rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				text-align: center;
			}
			span {
				color: #fff;
				text-align: center;
				margin: 0 auto;
			}
			p {
				margin-top: 1.2rem;
			}
		}
	}
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		overflow: hidden;
		.divider_ {
			width: 100%;
			height: 0.2rem;
			max-width: 100%;
			background-color: rgba(255, 255, 255, 0.1);
			margin-top: 6rem;
		}
		.card {
			width: 100%;
			background-color: rgba($col-white, 0.1);
			// background-color: #10182808;
			border-radius: 1.6rem;
			overflow: hidden;
			padding: 3.2rem;
			position: relative;
			margin-top: 3.6rem;
			height: 46rem;
			border: 0.2rem solid rgba($col-white, 0.1);
			transition: all 800ms ease-in-out;
			display: flex;
			flex-direction: column;
			.card_content {
				display: flex;
				.card_text {
					h3, span {
						font-size: 2.4rem;
						line-height: 3.2rem;
						font-weight: 700;
						font-family: $font-gothic-bold;
					}
					span {
						color: $col-white;
					}
					p {
						margin-top: 1.2rem;
						max-width: 80%;
						font-size: 1.6rem;
						line-height: 2.4rem;
						transition: all 800ms ease-in-out;
						translate: -200% 0;
					}
				}
				.card_image {
					position: relative;
					align-items: flex-end;
					height: 38rem;
					width: 100%;
					top: 0;
					translate: 0% 0%;
					transition: all 800ms ease-in-out;
					opacity: 1;
					& > img {
						object-fit: cover;
					}
				}
			}
			.button {
				margin-top: auto;
				justify-self: flex-end;
				width: 13rem;
				opacity: 0;
				translate: -200% 0%;
				position: relative;
				top: -6rem;
				transition: all 800ms ease-in-out;
				& > p {
					font-weight: 600!important;
					font-size: 1.4rem!important;
				}
			}
			&[data-active="true"] {
				.card_content {
					.card_image {
						translate: 0% 100%;
						transition: all 800ms ease-in-out;
						opacity: 0;
					}
					.card_text {
						p {
							transition: all 800ms ease-in-out;
							translate: 0% 0;
						}
					}
				}
				.button {
					opacity: 1;
					translate: 0% 0;
					transition: all 800ms ease-in-out;
				}
			}
		}
	}
	.divider {
		width: 100%;
		height: 0.2rem;
		background-color: rgba(255, 255, 255, 0.1);
		margin-top: 6rem;
	}

	@include screenMax("tablet") {
		margin-bottom: 4rem;
		.text_container {
			padding: 2.4rem;
			.text {
				max-width: 85%;
				.text_wrapper {
					max-width: 85%;
				}
				h2 {
					font-size: 4rem;
					line-height: 5.6rem;
					margin-bottom: 1.6rem;
				}
				h3, span {
					font-size: 1.8rem;
					line-height: 2.7rem;
				}
			}
		}
		.section_container {
			padding: 3.6rem 2.4rem;
			.card {
				padding: 2.4rem;
				.card_content {	
					.card_text {
						h3, span {
							font-size: 1.8rem;
							line-height: 2.7rem;
						}
						p {
							font-size: 1.6rem;
							max-width: 60rem;
						}
					}
					.card_image {
						height: 30rem;
						width: 35rem;
						top: 0;
					}

				}
				.button {
					top: -2rem;
				}
			}
		}
		.divider {
			margin-top: 4rem;
		}
	}

	@include screenMax('mobile') {
		margin-bottom: 2rem;
		.text_container {
			padding: 2.4rem 0;
			.text {
				max-width: 95%;
				.text_wrapper {
					max-width: 95%;
				}
				h2 {
					font-size: 2.4rem;
					line-height: 3.2rem;
					margin-bottom: 1rem;
				}
				h3, span {
					font-size: 1.4rem;
					line-height: 2rem;
					width: 100%;
				}
			}
		}
		.section_container {
			padding: 2rem;
			.card {
				padding: 1.6rem;
				height: 35rem;
				.card_content {
					flex-direction: column;
					.card_text {
						p {
							font-size: 1.4rem;
							line-height: 2rem;
							margin-top: 0.8rem;
							width: 100%;
							max-width: unset;
							opacity: 1;
							translate: 0 0;
						}
					}
					.card_image {
						width: 100%;
						height: 25rem;
						top: -10rem;
						display: none;
					}
				}
				.button {
					top: 0;
					width: 10rem;
					opacity: 1;
					translate: 0 0;
				}
			}
		}
		.divider {
			margin-top: 2rem;
		}
	}
}
