@import "@/styles/imports";

.section {
	width: 100%;
	margin-bottom: 8rem;
	.section_container {
		padding: 3.6rem;
		max-width: $max-width;
		margin-inline: auto;
		position: relative;
		.text {
			h2 {
				font-size: 7.2rem;
				line-height: 8.8rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
				color: #FFF;
				margin-bottom: 2.4rem;
			}
			h3,
			span {
				font-size: 2.4rem;
				line-height: 3.2rem;
				font-weight: 700;
				font-family: $font-gothic-bold;
			}
			span {
				color: #fff;
			}
			p {
				margin-top: 1.2rem;
			}
		}
		.card {
			width: 100%;
			// background-color: rgba($col-white, 0.05);
			// background-color: #10182808;
			background-color: #000;
			border-radius: 1.5rem;
			overflow: hidden;
			padding: 3.2rem;
			position: relative;
			margin-top: 3.6rem;
			height: 38rem;
			@include flex();
			flex-direction: column;
			border: 0.2rem solid rgba($col-white, 0.1);
			.card_text {
				h3, span {
					font-size: 2.8rem;
					line-height: 3.6rem;
					font-weight: 700;
					font-family: $font-gothic-bold;
				}
				span {
					color: $col-white;
				}
				p {
					margin-top: 1.2rem;
					max-width: 90rem;
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
			}
		}
		.button {
			margin-top: auto;
			justify-self: flex-end;
			min-width: 13rem;
			& > p {
				font-weight: 600!important;
			}
		}
		.grad_1,
		.grad_2 {
			// background-color: #13361b;
			background-color: #000;
			width: 36.6rem;
			height: 36.6rem;
			filter: blur(200px);
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
		.grad_2 {
			left: unset;
			right: 0;
		}
	}
	.divider {
		width: 100%;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.05);
	}

	@include screenMax("tablet") {
		margin-bottom: 6rem;
		.section_container {
			padding: 3.6rem 2.4rem;
			.text {
				h2 {
					font-size: 4rem;
					line-height: 5.6rem;
					margin-bottom: 1.6rem;
				}
				h3 {
					font-size: 2.2rem;
					line-height: 2.8rem;
				}
			}
			.card {
				padding: 2.4rem;
				.card_text {
					h3, span {
						font-size: 2.4rem;
						line-height: 3.2rem;
					}
					p {
						font-size: 1.6rem;
						max-width: 60rem;
					}
				}
			}
		}
	}

	@include screenMax('mobile') {
		margin-bottom: 4rem;
		.section_container {
			padding: 2rem;
			.text {
				h2 {
					font-size: 2.4rem;
					line-height: 3.2rem;
					margin-bottom: 1rem;
				}
				h3, span {
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
			}
			.card {
				padding: 1.6rem;
				height: 35rem;
				.card_text {
					p {
						font-size: 1.4rem;
						line-height: 2rem;
						margin-top: 0.8rem;
						width: 100%;
						max-width: unset;
					}
				}
			}
		}
	}
}
